<nb-card>
  <nb-card-header class="pb-1 border-0">
    <div class="row">
      <div class="col-5 col-lg-4">
        <div class="d-flex">
          <!-- <span class="card__title pr-3 pt-1" >{{ 'SALE.HEADER' | translate }}
          </span> -->
          <span class="card__title pr-3 pt-1" >{{ 'MONEYFUND.HEADER' | translate }}
          </span>
          <div (click)='SearchGenLed()'>
            <img src="../../../assets/search.png" class="button__search"
              alt="search General Ledger"></div>
        </div>
        <div class="btn btn-flat mr-1 p-0 mb-0" style="color: #546D74;">
          <div>{{ 'COMMON.DAY.Dateoptions' | translate }}: {{startDay}} {{keyspace}} {{endDay}}</div>
        </div>
      </div>
      <div class="col-3 col-lg-4">
      </div>
      <div class="col-4 col-lg-4">
        <div ngbDropdown class="float-right">
          <div class="d-inline-block mx-2">
            <button (click)="Print()" class="btn btn-raised mr-1 btn-secondary">Print</button>
          </div>
        </div>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
      <div *ngFor="let group of genViews" style="padding-top: 2%;">
        <div class="row w-100">
          <div class="col-6" style="color: #546D74;font-size: 15px;font-weight: bold;">
            {{group.cashType}}</div>
            <div class="col-6 text-right pr-0" style="color: #546D74; font-size: 15px;float: right;font-weight: bold;">
              {{ 'ACCOUNT.DETAIL.LIST.openingbalance' | translate }}: {{group.moneyFundData[0].openingBalance | currency:'VND':''}}</div>
        </div>
        <div class="row">
          <hr width="98%" style="height: 2px;;background: #6A0888;" class="my-0" />
          <div class="col-md-12">

            <ngx-datatable #myTable class="bootstrap hover no-striped flex" [rows]="group.moneyFundData"
              [loadingIndicator]="loadingIndicator" [sorts]="[{prop: 'id', dir: 'desc'}]"
              [columnMode]="ColumnMode.flex" [headerHeight]="60" [footerHeight]="100" [rowHeight]="getRowHeight"
              [limit]="20" [selected]="selected" [selectionType]="'checkbox'" (sort)="onSort($event)"
              [selectAllRowsOnPage]="false">
              

              <ngx-datatable-column prop="receiptNumber" name="{{ 'MONEYFUND.LIST.receiptNumber' | translate }}" [flexGrow]="2"
                [cellClass]="'col-left'" [headerClass]="'col-left'">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <div class="col-left" style="color: cadetblue;">
                    <div>
                      {{row.receiptNumber}}
                    </div>
                  </div>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column prop="receiptDate" name="{{ 'SALE.LIST.date' | translate }}" [flexGrow]="1"
                [cellClass]="'col-left'" [headerClass]="'col-left'">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <div class="col-left">
                    <div>
                      {{row.receiptDate | date: 'dd/MM/yyyy'}}
                    </div>
                  </div>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column prop="note" name="{{ 'SALE.LIST.Note' | translate }}" [flexGrow]="2"
              [cellClass]="'col-left'" [headerClass]="'col-left'">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <div class="col-left">
                  <div>
                    {{row.note}}
                  </div>
                </div>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column prop="companyName" name="{{ 'MONEYFUND.LIST.companyName' | translate }}" [flexGrow]="2"
              [cellClass]="'col-left'" [headerClass]="'col-left'">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <div class="col-left">
                  <div>
                    {{row.companyName}}
                  </div>
                </div>
              </ng-template>
            </ngx-datatable-column>

              <ngx-datatable-column prop="receive" name="{{ 'MONEYFUND.LIST.Receive' | translate }}" [flexGrow]="1"
                [cellClass]="'text-right'" [headerClass]="'text-right'">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <div class="text-right">
                    <div>
                      <div>
                        <div *ngIf="row.collectMoney !== 0" class="col-more-info">
                          {{row.receive | currency:'VND':''}}
                        </div>
                        <div *ngIf="row.receive === 0">
                          <a>-</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column prop="pay" name="{{ 'MONEYFUND.LIST.Pay' | translate }}" [flexGrow]="1"
              [cellClass]="'text-right'" [headerClass]="'text-right'">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <div class="text-right">
                  <div>
                    <div>
                      <div *ngIf="row.pay !== 0" class="col-more-info">
                        {{row.pay | currency:'VND':''}}
                      </div>
                      <div *ngIf="row.pay === 0">
                        <a>-</a>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngx-datatable-column>

            

             

              <ngx-datatable-footer>
                <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize"
                  let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset" let-isVisible="isVisible">
                  <div class="row" style="display: block;width: 101%;border-top: 3px double #ccc;padding-top: 10px;">
                    <div class="row w-100">
                      <div class="col-6" style="color: #546D74;font-size: 15px;font-weight: bold;">
                        </div>
                        <div class="col-6 text-right pr-0" style="color: #546D74; font-size: 15px;float: right;font-weight: bold;">
                          {{ 'ACCOUNT.DETAIL.LIST.closingBalance' | translate }}: {{group.moneyFundData[0].closingBalance | currency:'VND':''}}</div>
                    </div>
                    <div class="row">
                      <div class="page-count col-md-6 pl-4">
                      </div>
                      <div class="col-md-6 text-right">
                        <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'"
                          [pagerRightArrowIcon]="'datatable-icon-right'" [pagerPreviousIcon]="'datatable-icon-prev'"
                          [pagerNextIcon]="'datatable-icon-skip'" [count]="rowCount" [page]="curPage" [size]="pageSize"
                          [hidden]="!((rowCount / pageSize) > 1)" (change)="myTable.onFooterPage($event)">
                        </datatable-pager>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngx-datatable-footer>
            </ngx-datatable>
          </div>
        </div>
      </div>
  </nb-card-body>
</nb-card>