<div  class="card">
    <div class="card-content">
      <div class="card-body">
        <div class="row form-line">
          <div class="col-md-6">
            <h4 class="card-title">Money Receipt</h4>
          </div>
          <div class="col-md-6"> 
              <a (click)="createReceipt()" class="btn btn-raised mr-1 btn-success float-right">New Receipt</a></div>
        </div>
        
        <div class="row">
          <div class="col-md-4" style="padding-top: 6px;">
            <p class="label-blue">All Receipt <span *ngIf="selected.length > 0">> Selected ({{selected.length}})</span>
            </p>
          </div>
          <div class="col-md-3">
            <div ngbDropdown>
              <button class="btn btn-flat mr-1 label-blue" id="bulkActions" ngbDropdownToggle>Chức năng chung</button>
              <div ngbDropdownMenu aria-labelledby="bulkActions">
                <button class="dropdown-item"><i class="icon-printer"></i> Print</button>
                <button (click)="deleteAll()" class="dropdown-item" ><i class="fa fa-trash"></i> Delete</button>
              </div>
            </div>
          </div>
          <div class="col-md-5 float-right">
            <div class="position-relative has-icon-left input-group">
              <input type="text" [(ngModel)]="keyword" (keyup)="refresh()" name="keyword"  autocomplete="off" class="form-control round pl-4"
                placeholder="Search">
              <div class="form-control-position" style="right: auto;z-index: 1000;">
                <i class="ft-search" (click)="refresh()"></i>
              </div>
              <input *ngIf="searchForm.valid && isSubmitted" type="text" [(ngModel)]="dateFilters" name="dateFilters"
              autocomplete="off" class="form-control round">
              <div class="input-group-append search-form" ngbDropdown #searchPanel="ngbDropdown">
                <button style="border: 1px solid #A6A9AE" class="btn btn btn-outline mr-1 btn-round" id="btnAdvanceSearch"
                  ngbDropdownToggle><i class="ft-calendar"></i></button>
                <div ngbDropdownMenu class="dropdown-menu-right" style="background: #E6EAEC;padding-bottom: 0px"
                  aria-labelledby="btnAdvanceSearch">
                  <div class="modal-header" style="padding: 0.5rem 0.5rem!important;">
                    <h5 class="modal-title">Filters</h5>
                  </div>

                  <form autocomplete="off" [formGroup]="searchForm"  (submit)="applySearchFilter(searchForm)" novalidate
                  style="background: #fff;" class="form form-horizontal px-2 pb-2 pt-3 width-300">
                    <div class="form-body">
                      <div class="row">
                        <div class="col-md-6">
                          <div class=" input-group">
                            <input  required class="form-control" placeholder="Start" name="startDate" formControlName="startDate"
                              ngbDatepicker #pkStartDate="ngbDatepicker" id="startDate">
                            <div class="input-group-append">
                              <div class="input-group-text" (click)="pkStartDate.toggle()">
                                <i class="fa fa-calendar" style="cursor: pointer;"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="input-group">
                            <input class="form-control" required  placeholder="End" name="endDate" ngbDatepicker formControlName="endDate"
                              #pkEndDate="ngbDatepicker" id="endDate">
                            <div class="input-group-append">
                              <div class="input-group-text" (click)="pkEndDate.toggle()">
                                <i class="fa fa-calendar" style="cursor: pointer;"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      

                    </div>
                    <div class="form-actions right mt-1">
                      <button class="btn btn-raised mr-1 btn-secondary"> <i class="ft-x"></i>Clear</button>
                      <button type="submit" class="btn btn-raised mr-1 btn-success"><i class="ft-check-square"></i> Apply</button>
                    </div>
                  </form>

                </div>
              </div>
            </div>
  
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
     
            <ngx-datatable #myTable class="bootstrap hover no-striped flex" [rows]="moneyReceiptList"
            [loadingIndicator]="loadingIndicator" [sorts]="[{prop: 'id', dir: 'desc'}]" [columnMode]="ColumnMode.force"
            [headerHeight]="60" [footerHeight]="100" [rowHeight]="getRowHeight" [reorderable]="reorderable" [limit]="20"
            [selected]="selected" [selectionType]="'checkbox'" (sort)="onSort($event)" (activate)="onActivate($event)"
            (select)='onSelect($event)' [selectAllRowsOnPage]="false" >

            <ngx-datatable-column [width]="50" [sortable]="false" [canAutoResize]="false" [draggable]="false"
              [resizeable]="false">
              <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected"
                let-selectFn="selectFn">
                <div class="custom-control custom-checkbox m-0">
                  <input type="checkbox" [checked]="allRowsSelected" id="chkCheckAll1" class="custom-control-input"
                    (change)="selectFn(!allRowsSelected)" />
                  <label class="custom-control-label col-form-label" for="chkCheckAll1"></label>
                </div>
              </ng-template>
              <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected"
                let-onCheckboxChangeFn="onCheckboxChangeFn" let-row="row">
                <div class="custom-control custom-checkbox m-0">
                  <input #cb type="checkbox" class="custom-control-input" id="{{row.id}}" [checked]="isSelected"
                    (change)="onCheckboxChangeFn($event)" />
                  <label class="custom-control-label col-form-label" for="{{row.id}}"></label>
                </div>
              </ng-template>
            </ngx-datatable-column>
           
            <ngx-datatable-column name="Client/ Receipt#" prop="clientName">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <div>{{row.clientName}}</div>
                <div class="col-more-info font-small-3">{{row.receiptNumber}}</div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="note" name="Notes" [cellClass]="'col-id'" [headerClass]="'col-id'">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <div class="col-more-info">{{row.note}}</div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="issueDate" name="Date/ Bank Account" [cellClass]="'col-center'"
              [headerClass]="'col-center'">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <div class="col-center">{{row.payDate | date: 'dd/MM/yyyy'}}</div>
                <div class="col-more-info col-center">
                  {{row.bankAccount}}
                </div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column  prop="amountPaid" name="Amount/ Pay type" [cellClass]="'col-right'"
              [headerClass]="'col-right'">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <div class="col-right" style="padding-right: 0;">
                  <!-- {{plusRow(row.subTotal,row.vatTax,row.discount) | currency:'VND':''}} -->
                  {{row.amount | currency:'VND':''}}
                </div>
                <div class="col-right" style="padding-right: 0;">
                  <span style="color: #ed7d31"> {{row.payType}}</span>
                </div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [width]="40" [sortable]="false" [canAutoResize]="false" [draggable]="false"
              [resizeable]="false" name="" [cellClass]="'col-action'" [headerClass]="'col-action'">

              <ng-template let-row="row" ngx-datatable-cell-template let-isSelected="isSelected">
                <div class="icon-actions">
                  <div class="actions">
                    <a style="margin-left: 2px;" class="icon-action">
                      <span class="icon-printer"></span>
                    </a>
                  </div>
                  <div class="actions">
                    <a class="icon-action" (click)="delete(row.id,row.receiptNumber)">
                      <span class="icon-delete"></span>
                    </a>
                  </div>
                </div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-footer>
              <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize"
                let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset" let-isVisible="isVisible">
                <div class="row" style="display: inline-block;width: 100%;border-top: 1px solid #ccc;padding-top: 3px; margin-top:-20px;">
                  <div class="row text-right">
                    <div class="col-md-3 text-center">
                      <b>Total: {{rowCount}} items </b>
                    </div>
                    <div class="col-md-3"></div>
                    <div class="col-md-3 text-center">
                      <b>Grant Total</b>
                    </div>
                    <div class="col-md-3" style="padding-right:35px">
                      <b>{{getGrantTotal()| currency:'VND':''}}</b>
                    </div>
                  </div>
                  <div class="row">
                    <div class="page-count col-md-6 pl-4">
                    </div>
                    <div class="col-md-6 text-right">
                      <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'"
                        [pagerRightArrowIcon]="'datatable-icon-right'" [pagerPreviousIcon]="'datatable-icon-prev'"
                        [pagerNextIcon]="'datatable-icon-skip'" [count]="rowCount" [page]="curPage" [size]="pageSize"
                        [hidden]="!((rowCount / pageSize) > 1)" (change)="myTable.onFooterPage($event)">
                      </datatable-pager>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngx-datatable-footer>
          </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
  