:host ::ng-deep .ngx-datatable.bootstrap .datatable-header .datatable-header-cell{
    vertical-align: bottom;
    padding: 0.75rem;
    border-bottom: hidden;
    
    &:nth-child(1){
        text-align: left;
    }
    &:nth-child(2),&:nth-child(3){
        text-align: right;
    }
    &:nth-child(4){
        text-align: right;
    }
}

.Opening{
   text-align: right;
}
.creditdebit{
    text-align: right;
   
}

.Closing{
  
    text-align: right;
}
:host ::ng-deep .datatable-header-cell {
    letter-spacing: -0.1rem;
}
:host ::ng-deep.ngx-datatable.fixed-row .datatable-scroll .datatable-body-row .datatable-body-cell{
}
:host ::ng-deep .form-line{
    border-bottom: hidden;
    margin-bottom: -30px;
}
.card {
    margin-top: -21px;
    width: 80%;
    /* align-content: center; */
    margin-left: 150px;
}
:host ::ng-deep.ngx-datatable.bootstrap .datatable-body .datatable-body-row {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0;
    padding-top: 0;
}
@media only screen and (max-width: 1800px){
    :host ::ng-deep .ngx-datatable.bootstrap .datatable-header .datatable-header-cell{
        vertical-align: bottom;
        padding: 0.75rem;
        border-bottom: hidden;
    }
    .Closing{
    margin-right: 10px;
        text-align: right;
    }
    .ngx-datatable.fixed-row .datatable-scroll .datatable-body-row .datatable-body-cell{
        margin-left: -12px;
    }
    :host ::ng-deep .form-line{
        border-bottom: hidden;
        margin-bottom: -30px;
    }
    .card {
        margin-top: -21px;
        width: 80%;
        /* align-content: center; */
        margin-left: 150px;
    }
    :host ::ng-deep.ngx-datatable.bootstrap .datatable-body .datatable-body-row {
        padding-top: 0px;
        padding-bottom: 0px;
        
    }
}
@media only screen and (max-width: 1700px){
    :host ::ng-deep .ngx-datatable.bootstrap .datatable-header .datatable-header-cell{
        vertical-align: bottom;
        padding: 0.75rem;
        border-bottom: hidden;
    }
  .Closing{
         margin-right: -1px;
        text-align: right;
    }
    .ngx-datatable.fixed-row .datatable-scroll .datatable-body-row .datatable-body-cell{
        margin-left: -12px;
    }
    :host ::ng-deep .form-line{
        border-bottom: hidden;
        margin-bottom: -30px;
    }
    .card {
        margin-top: -21px;
        width: 80%;
        /* align-content: center; */
        margin-left: 150px;
    }
    :host ::ng-deep.ngx-datatable.bootstrap .datatable-body .datatable-body-row {
        padding-top: 0px;
        padding-bottom: 0px;
        
    }
}
@media only screen and (max-width: 1600px){
    :host ::ng-deep .ngx-datatable.bootstrap .datatable-header .datatable-header-cell{
        vertical-align: bottom;
        padding: 0.75rem;
        border-bottom: hidden;
    }
  .Closing{
         margin-right: -1px;
        text-align: right;
    }
    .ngx-datatable.fixed-row .datatable-scroll .datatable-body-row .datatable-body-cell{
        margin-left: -12px;
    }
    :host ::ng-deep .form-line{
        border-bottom: hidden;
        margin-bottom: -30px;
    }
    .card {
        margin-top: -21px;
        width: 80%;
        /* align-content: center; */
        margin-left: 150px;
    }
    :host ::ng-deep.ngx-datatable.bootstrap .datatable-body .datatable-body-row {
        padding-top: 0px;
        padding-bottom: 0px;
        
    }
}
@media only screen and (max-width: 1500px){
    :host ::ng-deep .ngx-datatable.bootstrap .datatable-header .datatable-header-cell{
        vertical-align: bottom;
        padding: 0.75rem;
        border-bottom: hidden;
    }
  .Closing{
         margin-right: -1px;
        text-align: right;
    }
    .ngx-datatable.fixed-row .datatable-scroll .datatable-body-row .datatable-body-cell{
        margin-left: -12px;
    }
    :host ::ng-deep .form-line{
        border-bottom: hidden;
        margin-bottom: -30px;
    }
    .card {
        margin-top: -21px;
        width: 80%;
        /* align-content: center; */
        margin-left: 150px;
    }
    :host ::ng-deep.ngx-datatable.bootstrap .datatable-body .datatable-body-row {
        padding-top: 0px;
        padding-bottom: 0px;
        
    }
}
@media only screen and (max-width: 1440px){
    :host ::ng-deep .ngx-datatable.bootstrap .datatable-header .datatable-header-cell{
        vertical-align: bottom;
        padding: 0.75rem;
        border-bottom: hidden;
    }
  .Closing{
         margin-right: -1px;
        text-align: right;
    }
    .ngx-datatable.fixed-row .datatable-scroll .datatable-body-row .datatable-body-cell{
        margin-left: -12px;
    }
    :host ::ng-deep .form-line{
        border-bottom: hidden;
        margin-bottom: -30px;
    }
    .card {
        margin-top: -21px;
        width: 80%;
        /* align-content: center; */
        margin-left: 150px;
    }
    :host ::ng-deep.ngx-datatable.bootstrap .datatable-body .datatable-body-row {
        padding-top: 0px;
        padding-bottom: 0px;
        
    }
}
@media only screen and (max-width: 1360px){
    :host ::ng-deep .ngx-datatable.bootstrap .datatable-header .datatable-header-cell{
        vertical-align: bottom;
        padding: 0.75rem;
        border-bottom: hidden;
    }
  .Closing{
         margin-right: -1px;
        text-align: right;
    }
    .ngx-datatable.fixed-row .datatable-scroll .datatable-body-row .datatable-body-cell{
        margin-left: -12px;
    }
    :host ::ng-deep .form-line{
        border-bottom: hidden;
        margin-bottom: -30px;
    }
    .card {
        margin-top: -21px;
        width: 80%;
        /* align-content: center; */
        margin-left: 150px;
    }
    :host ::ng-deep.ngx-datatable.bootstrap .datatable-body .datatable-body-row {
        padding-top: 0px;
        padding-bottom: 0px;
        
    }
}
@media only screen and (max-width: 1280px){
    :host ::ng-deep .ngx-datatable.bootstrap .datatable-header .datatable-header-cell{
        vertical-align: bottom;
        padding: 0.75rem;
        border-bottom: hidden;
    }
  .Closing{
         margin-right: -1px;
        text-align: right;
    }
    .ngx-datatable.fixed-row .datatable-scroll .datatable-body-row .datatable-body-cell{
        margin-left: -12px;
    }
    :host ::ng-deep .form-line{
        border-bottom: hidden;
        margin-bottom: -30px;
    }
    .card {
        margin-top: -21px;
        width: 80%;
        /* align-content: center; */
        margin-left: 150px;
    }
    :host ::ng-deep.ngx-datatable.bootstrap .datatable-body .datatable-body-row {
        padding-top: 0px;
        padding-bottom: 0px;
        
    }
}