:host ::ng-deep .ngx-datatable.bootstrap .datatable-header .datatable-header-cell{
    vertical-align: bottom;
    padding: 0.75rem;
    border-bottom: hidden;
    
    &:nth-child(1){
        text-align: left;
    }
    &:nth-child(2),&:nth-child(3){
        text-align: right;
    }
    &:nth-child(4){
        text-align: right;
    }
}

.Opening{
   text-align: right;
}

.creditdebit{
    text-align: right;
   
}

.headername{
    // position: absolute;
    // width: 100%;
}

.Closing{
  
    text-align: right;
}

:host ::ng-deep .datatable-header-cell {
    height: fit-content;
}

:host ::ng-deep .form-line{
    border-bottom: hidden;
    margin-bottom: -30px;
}

.card {
    margin-top: -21px;
    width: 80%;
    /* align-content: center; */
    margin-left: 150px;
}

nb-card-header, nb-card-body{
  @media screen and (min-width: 992px){
    min-width: 750px;
  }
}

:host ::ng-deep.ngx-datatable.bootstrap .datatable-body .datatable-body-row {
    padding-top: 0px;
    padding-bottom: 0px;
}

:host ::ng-deep .datatable-header {
  height: unset !important;
}

:host ::ng-deep .datatable-header-cell-template-wrap {
  position: relative;
}

:host ::ng-deep {
    $colWidth1: 25%;
    $colWidth2: 25%;
    $colWidth3: 25%;
    $colWidth4: 25%;
    .datatable-header-cell,
    .datatable-body-cell {
      padding-left: 0 !important;
      padding-right: 0 !important;
      &:nth-child(1) {
        flex: 0 0 $colWidth1;
      }
      &:nth-child(2) {
        flex: 0 0 $colWidth2;
      }
      &:nth-child(3) {
        flex: 0 0 $colWidth3;
      }
      &:nth-child(4) {
        flex: 0 0 $colWidth4;
      }
    }
    .datatable__footer__row {
      position: relative;
      padding-right: 0.75rem;
      padding-left: 0.75rem;
      > * {
        &:nth-child(1) {
          flex: 1 1 $colWidth1;
        }
        &:nth-child(2) {
          flex: 0 0 $colWidth2;
        }
        &:nth-child(3) {
          flex: 0 0 $colWidth3;
        }
        &:nth-child(4) {
          flex: 0 0 $colWidth4;
        }
      }
    }
  }


  ::ng-deep :root {
    @media screen and (min-width: 768px) and (max-width: 992px){
      font-size: 13px;
    }
    @media screen and (max-width: 767px){
      font-size: 8px;
    }
  }
  