<nb-card>
  <nb-card-header>
    <h4 class="card-title">Login</h4>
  </nb-card-header>
  <nb-card-body>
    <form class="container-fluid px-0" novalidate autocomplete="off" (ngSubmit)="login(loginForm)"
      [formGroup]="loginForm">
      <p class="card-text mb-3">
        Welcome back, please login to your account.
      </p>
      <div class="form-group  mb-2">
        <input formControlName="userName" type="text" class="form-control mb-1" placeholder="Username" />
        <small class="form-text text-muted danger"
          *ngIf="!loginForm.get('userName').valid && (loginForm.get('userName').dirty || loginForm.get('userName').touched)">Please
          enter a username</small>
      </div>
      <div class="form-group  mb-2">
        <input formControlName="password" type="password" class="form-control mb-1" placeholder="Password" />
        <small class="form-text text-muted danger"
          *ngIf="!loginForm.get('password').valid && (loginForm.get('password').dirty || loginForm.get('password').touched)">Please
          enter a password</small>
      </div>
      <div class="d-flex justify-content-between mt-2">
        <div class="remember-me">
          <div class="custom-control custom-checkbox custom-control-inline mb-3">
            <input type="checkbox" id="customCheckboxInline1" name="customCheckboxInline1"
              class="custom-control-input" />
            <label class="custom-control-label" for="customCheckboxInline1">
              Remember Me
            </label>
          </div>
        </div>
        <div class="forgot-password-option">
          <a (click)="openCardBack()" class="text-decoration-none text-primary">Forgot
            Password ?</a>
        </div>
      </div>
      <div class="fg-actions justify-content-between text-center">
        <!-- <div class="login-btn">
                            <button class="btn btn-outline-primary">
                              <a [routerLink]="['/register']" class="text-decoration-none">Register</a>
                            </button>
                          </div> -->
        <div class="recover-pass">
          <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary px-4">
            <a class="text-decoration-none text-white">Login</a>
          </button>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>