:host ::ng-deep .datatable-scroll {
    border-top:1px solid;
    border-top-width: 1000%;    
    border-top: none;
}

:host ::ng-deep .ngx-datatable.bootstrap .datatable-header .datatable-header-cell{
  border-bottom: none;
}
:host ::ng-deep .ngx-datatable.fixed-row .datatable-scroll .datatable-body-row .datatable-body-cell {
  white-space: unset !important;
}

:host ::ng-deep{
  .datatable-header,.datatable-footer-inner {
    height: unset !important;
  }
}

:host ::ng-deep {
  $colWidth1: 15%;
  $colWidth2: 13%;
  $colWidth3: 'auto';
  $colWidth4: 12%;
  $colWidth5: 11%;
  $colWidth6: 12%;
  $colWidth7: 12%;
  .datatable-header-cell,
  .datatable-body-cell,
  .datatable__footer__row > * {
    padding-left: 0 !important;
    padding-right: 0 !important;
    &:nth-child(1) {
      flex: 0 0 $colWidth1;
    }
    &:nth-child(2) {
      flex: 0 0 $colWidth2;
    }
    &:nth-child(3) {
      flex: 1 1 $colWidth3;
    }
    &:nth-child(4) {
      flex: 0 0 $colWidth4;
    }
    &:nth-child(5) {
      flex: 0 0 $colWidth5;
    }
    &:nth-child(6) {
      flex: 0 0 $colWidth6;
    }
    &:nth-child(7) {
      flex: 0 0 $colWidth7;
    }
  }
  .datatable__footer__row {
    position: relative;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    > * {
      &:nth-child(1) {
        flex: 1 1 $colWidth1;
      }
      &:nth-child(2) {
        flex: 0 0 $colWidth2;
      }
      &:nth-child(3) {
        flex: 0 0 $colWidth3;
      }
      &:nth-child(4) {
        flex: 0 0 $colWidth4;
      }
    }
  }
}

::ng-deep :root {
  @media screen and (min-width: 768px) and (max-width: 992px){
    font-size: 10px;
  }
  @media screen and (max-width: 767px){
    font-size: 8px;
  }
}
