<nb-card>
    <nb-card-header>
        <div class="row">
            <div class="col-6">
                <span class="card__title">{{'JUOURNAL.HEADER.ENTRY' | translate}}</span>
            </div>
            <div class="col-6"> <a (click)='redirectToCreateNewInvoice()'
                    class="btn btn-raised mr-1 btn-success float-right">{{'JUOURNAL.HEADER.BUTTON' | translate}}</a></div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-6" style="padding-top: 6px;">
                <div class="label-blue">{{'JUOURNAL.GRID.ALL.ENTRY' | translate}} <span *ngIf="selected.length > 0">> {{'COMMON.SELECTED' | translate}}
                        ({{selected.length}})</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6 text-right text-md-left">
                <div ngbDropdown>
                    <button class="btn btn-flat mr-1 card__button-bulk-action pr-1" id="bulkActions" ngbDropdownToggle>{{ 'COMMON.MOREACTION' | translate }}</button>
                    <div ngbDropdownMenu aria-labelledby="bulkActions">
                        <button class="dropdown-item" [disabled]="true"><i class="fa fa-copy"></i> {{ 'COMMON.BUTTON.DUPLICATE' | translate }}</button>
                        <button class="dropdown-item" (click)="deleteAll()"><i class="fa fa-trash"></i> {{ 'COMMON.ACTION.DELETE' | translate }}</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-4 col-12 float-right">
                <div class="position-relative has-icon-left input-group">
                    <input type="text" [(ngModel)]="keyword" name="keyword" (keyup)="refresh()" autocomplete="off"
                        class="form-control round pl-4" placeholder="{{'COMMON.ACTION.SEARCH' | translate}}">
                    <div class="form-control-position" style="right: auto;z-index: 1000;">
                        <i class="ft-search" (click)="refresh()"></i>
                    </div>
                    <input *ngIf="searchForm.valid && isSubmitted" type="text" [(ngModel)]="dateFilters"
                        name="dateFilters" autocomplete="off" class="form-control round">
                    <div class="input-group-append search-form" ngbDropdown #searchPanel="ngbDropdown">
                        <button style="border: 1px solid #A6A9AE" class="btn btn btn-outline mr-1 btn-round"
                            id="btnAdvanceSearch" ngbDropdownToggle><i class="ft-calendar"></i></button>
                        <div ngbDropdownMenu class="dropdown-menu-right" style="background: #E6EAEC;padding-bottom: 0px"
                            aria-labelledby="btnAdvanceSearch">
                            <div class="modal-header" style="padding: 0.5rem 0.5rem!important;">
                                <h5 class="modal-title">Filters</h5>
                            </div>
                            <form autocomplete="off" [formGroup]="searchForm" (submit)="applySearchFilter(searchForm)"
                                novalidate style="background: #fff;"
                                class="form form-horizontal px-2 pb-2 pt-3 width-300">
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class=" input-group">
                                                <input required class="form-control" placeholder="Start"
                                                    name="startDate" formControlName="startDate" ngbDatepicker
                                                    #pkStartDate="ngbDatepicker" id="startDate">
                                                <div class="input-group-append">
                                                    <div class="input-group-text" (click)="pkStartDate.toggle()">
                                                        <i class="fa fa-calendar" style="cursor: pointer;"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <input class="form-control" required placeholder="End" name="endDate"
                                                    ngbDatepicker formControlName="endDate" #pkEndDate="ngbDatepicker"
                                                    id="endDate">
                                                <div class="input-group-append">
                                                    <div class="input-group-text" (click)="pkEndDate.toggle()">
                                                        <i class="fa fa-calendar" style="cursor: pointer;"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <ngb-alert [dismissible]="false" *ngIf="isSubmitted && searchForm.invalid"
                                        class="alert alert-danger" role="alert" type="danger">{{ 'JUOURNAL.SEARCH.FROM' | translate }}
                                    </ngb-alert>
                                </div>
                                <div class="form-actions right mt-1">
                                    <button (click)="clearFilter(searchForm)" class="btn btn-raised mr-1 btn-secondary">
                                        <i class="ft-x"></i>
                                        {{ 'COMMON.BUTTON.CLEAR' | translate }}</button>
                                    <button type="submit" class="btn btn-raised mr-1 btn-success">
                                        <i class="ft-check-square"></i> {{ 'COMMON.BUTTON.APPLY' | translate }}
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ngx-datatable #myTable class="bootstrap hover no-striped flex" [rows]="invoiceViews"
                    [loadingIndicator]="loadingIndicator" [sorts]="[{prop: 'id', dir: 'desc'}]" [columnMode]="'force'"
                    [headerHeight]="60" [footerHeight]="100" [rowHeight]="getRowHeight" [reorderable]="reorderable"
                    [limit]="20" [selected]="selected" [selectionType]="'checkbox'" (sort)="onSort($event)"
                    (activate)="onActivate($event)" (select)='onSelect($event)' [selectAllRowsOnPage]="false">

                    <ngx-datatable-column [width]="50" [sortable]="false" [canAutoResize]="false" [draggable]="false"
                        [resizeable]="false">
                        <ng-template ngx-datatable-header-template let-value="value"
                            let-allRowsSelected="allRowsSelected" let-selectFn="selectFn">
                            <div class="custom-control custom-checkbox m-0">
                                <input type="checkbox" [checked]="allRowsSelected" id="chkCheckAll"
                                    class="custom-control-input" (change)="selectFn(!allRowsSelected)" />
                                <label class="custom-control-label col-form-label" for="chkCheckAll"></label>
                            </div>

                        </ng-template>
                        <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected"
                            let-onCheckboxChangeFn="onCheckboxChangeFn" let-row="row">
                            <div class="custom-control custom-checkbox m-0">
                                <input #cb type="checkbox" class="custom-control-input" id="{{row.id}}"
                                    [checked]="isSelected" (change)="onCheckboxChangeFn($event)" />
                                <label class="custom-control-label col-form-label" for="{{row.id}}"></label>
                            </div>

                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [sortable]="false" name="{{'INVOICE.GRID.HEADER.NOTES' | translate}}" [cellClass]="'col-id'"
                        [headerClass]="'col-id'">
                        <ng-template let-column="column" let-sort="sortFn" let-sortDir="sortDir"
                            ngx-datatable-header-template>
                            <span class="column-header" style="cursor: pointer" (click)="sortClient()">{{ 'JUOURNAL.GRID.ENTRY' | translate }}</span>
                            <span class="column-header" style="cursor: pointer"> {{ 'JUOURNAL.GRID.OBJECT' | translate }}</span>
                            <span class="sort-btn" [class.sort-asc]="sortDir === 'asc'"
                                [class.datatable-icon-up]="sortDir === 'asc'" [class.sort-desc]="sortDir === 'desc'"
                                [class.datatable-icon-down]="sortDir === 'desc'"></span>

                        </ng-template>
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            <div>
                                {{row.entryName}}
                            </div>
                            <div class="col-more-info">
                                {{row.objectName}}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column prop="note" name="{{'PRODUCT.FORM.CREATE.DESCRIPTION' | translate}}" [cellClass]="'col-id'"
                        [headerClass]="'col-id'">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            <div class="col-more-info">{{row.description}}</div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column prop="issueDate" name="{{'JUOURNAL.GRID.DATE.OBJECT' | translate}}" [cellClass]="'col-right'"
                        [headerClass]="'col-right'">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            <div class="col-right">{{row.dateCreate | date: 'dd/MM/yyyy'}}</div>
                            <div *ngIf="row.objectType === 'Client' " class="col-more-info col-right">
                                Khách hàng
                            </div>
                            <div *ngIf="row.objectType === 'Supplier' " class="col-more-info col-right">
                                Nhân viên
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [width]="40" [sortable]="false" [canAutoResize]="false" [draggable]="false"
                        [resizeable]="false" name="" [cellClass]="'col-action'" [headerClass]="'col-action'">

                        <ng-template let-row="row" ngx-datatable-cell-template let-isSelected="isSelected">
                            <div class="icon-actions">
                                <div class="actions">
                                    <a class="icon-action" (click)="redirectToEditInvoice(row.id)">
                                        <span class="icon-edit"></span>
                                    </a>
                                </div>
                                <div class="actions">
                                    <a class="icon-action" (click)="delete(row.id)">
                                        <span class="icon-delete"></span>
                                    </a>
                                </div>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>

                </ngx-datatable>
            </div>
        </div>
    </nb-card-body>
</nb-card>