:host ::ng-deep .ui-multiselected-item-token,
:host ::ng-deep .ui-multiselected-empty-token {
    padding: 2px 4px;
    margin: 0 0.286em 0 0;
    display: inline-block;
    vertical-align:middle;
    height: 1.857em;
}

:host ::ng-deep .ui-multiselected-item-token {
    background: #007ad9;
    color: #ffffff;
}

:host ::ng-deep .ui-multiselected-empty-token {
    background: #d95f00;
    color: #ffffff;
}
:host ::ng-deep .ngx-datatables{
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    vertical-align: top;
    border-top: 1px dotted #d1d4d7;
}
:host ::ng-deep.modal-content {
    width: 50%;
}