:host ::ng-deep .datatable-row-group {
    max-width: 100%;
}
:host ::ng-deep .datatable-row-center {
    max-width: 99%;
}
:host ::ng-deep .datatable-header {
    height: auto!important;
}
:host ::ng-deep .col-right {
    padding-right: 0px;
}
.btnArrow {
    width: 17px;
    height: 12px;
    border: none;
    padding: 0;
    margin: 0 10px 0 0;
    background: transparent;

    &:focus {
        outline: none;
    }

    .collapsed {
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
        background: transparent;

        &:after{
            content: '';
            width: 8px;
            height: 8px;
            border-top: 2px solid #ccc;
            border-right: 2px solid #ccc;
            position: absolute;
            top: 50%;
            left: 0;
            transform: rotate(45deg) translate(0, -50%);
        }
    }

    .expanded {
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
        background: transparent;

        &:after{
            content: '';
            width: 8px;
            height: 8px;
            border-bottom: 2px solid #ccc;
            border-right: 2px solid #ccc;
            position: absolute;
            top: 50%;
            left: 0;
            transform: rotate(45deg) translate(0, -50%);
            margin: -3px 0 0;
        }
    }
}

:host ::ng-deep .datatable-body-row{
    &:hover{
        cursor: default;
        .icon-actions {
            display: flex;
            align-items: center;
        }
    }
}
:host ::ng-deep {
    .datatable-header-cell,
    .datatable-body-cell {
      &:nth-child(1) {
        flex: 0 0 20%;
      }
      &:nth-child(2) {
        flex: 1 1 auto;
      }
      &:nth-child(3) {
        flex: 0 0 20%;
        padding-left: 0!important;
      }
      &:nth-child(4) {
        flex: 0 0 20%;
      }
      &:nth-child(5) {
        flex: 0 0 5rem;
      }
    }
  }