<form class="form" name="form" novalidate autocomplete="off" (ngSubmit)="saveMoneyReceipt(moneyReceipt)"
[formGroup]="moneyReceipt">
  <div class="modal-header">
    <h4 class="modal-title">{{'PAYMENT.RECEIPT.HEADER' | translate}}</h4>
  </div>
  <div class="modal-body">
    <div class="row  mb-2">
      <div  class="col-7">
        <input [hidden] = "outstandingAmount !== undefined" [rowItem]= "outstandingAmount" validateDirective digitOnly [cleave]=" {numeral: true,numeralThousandsGroupStyle: 'thousand'}" formControlName="amount" class="form-control" maxlength="16" placeholder="{{'PAYMENT.RECIPT.GRID.HEADER.AMOUNT' | translate}}" id="amount">
        <input [hidden] = "outstandingAmount === undefined" [rowItem]= "outstandingAmount" validateDirective  digitOnly [cleave]=" {numeral: true,numeralThousandsGroupStyle: 'thousand'}" formControlName="amount" class="form-control" maxlength="16" placeholder="{{'PAYMENT.RECIPT.GRID.HEADER.AMOUNT' | translate}}" id="amount">

      </div>
      <div class="col-5">
        <input formControlName="receiptNumber" class="form-control" name="receiptNumber" type="text" maxlength="16" placeholder="{{'PAYMENT.CREATE.RECIPT' | translate}}" id="receiptNumber">
      </div>
      <div class="col-12">
        <small class="form-text text-muted danger"
        *ngIf="!moneyReceipt.get('amount').valid && (moneyReceipt.get('amount').dirty || moneyReceipt.get('amount').touched)">
        Please enter a valid amount, amount > 0! <small *ngIf="!moneyReceipt.get('receiptNumber').valid && (moneyReceipt.get('receiptNumber').dirty || moneyReceipt.get('receiptNumber').touched)">and Receipt No#</small> </small>        
      </div>

    </div>

    <div class="row">
      <div class=" col-12 mb-2 ngb-typeahead-client">
        <input formControlName="supplierName" #xxx style="opacity: unset" type="text" (focus)="focusClient$.next($event.target.value)"
          autocomplete="none" [ngbTypeahead]="searchClient" [inputFormatter]="clientFormatter" [value]="clientSelected.supplierName" name = "supplierName"
          [resultTemplate]="customItemTemplate" kendoTextBox  id="supplierName"
           (selectItem)="selectedItem($event)"
          class="form-control" placeholder="{{'INVOICE.FORM.CREATE.CLIENTNAME.PLACEHOLDER' | translate}}" nfNoSpaces
          maxlength="250" #instance="ngbTypeahead" />

          <ng-template #customItemTemplate let-r="result" let-t="term">
            <div class="row mt-2 client-item">
              <div class="col-sm-2 ">
                <ngx-avatar name="{{r.supplierName | Split:2}}"></ngx-avatar>
              </div>
              <div class="col-sm-10 col-md-10 pb-2 font-small-3">
                <ngb-highlight [result]="r.supplierName" [term]="t"></ngb-highlight>
                <p class="mb-0">{{r.address}}</p>
              </div>
            </div>
          </ng-template>
          <small class="form-text text-muted danger" *ngIf="!moneyReceipt.get('supplierName').valid && (moneyReceipt.get('supplierName').dirty || moneyReceipt.get('supplierName').touched)">Please enter a valid client name!</small>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-12 mb-2">
        <input formControlName="receiverName" kendoTextBox style="opacity: unset" required class="form-control" [value]="clientSelected.contactName" type="text" name="receiverName" placeholder="receiver name"
          id="receiverName">
          <small class="form-text text-muted danger" *ngIf="!moneyReceipt.get('receiverName').valid && (moneyReceipt.get('receiverName').dirty || moneyReceipt.get('receiverName').touched)">Please enter a valid receiver name!</small>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-12 mb-2">
        <select formControlName="entryType" id="entryType" class="form-control">
          <option *ngFor="let method of entryBatternList" [ngValue]="method.key">
            {{ method.name }}
          </option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-7">
        <select formControlName="paymentMethods" id="paymentMethods" class="form-control">
          <option *ngFor="let method of payment" [ngValue]="method.key">
            {{ method.name }}
          </option>
        </select>
      </div>
      <div class="col-5">
        <div class="input-group">
          <input formControlName="payDate" class="form-control datapicker" placeholder="dd/mm/yyyy" name="dp" ngbDatepicker (focus)="d3.toggle()"
            #d3="ngbDatepicker" id="payDate">
          <div class="input-group-append">
            <div class="input-group-text" (click)="d3.toggle()">
              <i class="fa fa-calendar" style="cursor: pointer;"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-12 mb-2">
        <input   formControlName="bankAccount" class="form-control" type="text" name="bankAccount" placeholder="{{'INVOICE.FORM.VIEW.PAYMENT.BANKACOUNT' | translate}}"
          id="bankAccount">
      </div>
    </div>

    <div class="row">
      <div class="form-group col-12 mb-2">
        <input formControlName="note" class="form-control" type="text" name="notes" placeholder="{{'INVOICE.FORM.VIEW.PAYMENT.NOTES' | translate}}" id="notes">
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button"  (click)=Print(moneyReceipt) class="btn btn-raised btn-secondary mr-1">
      <i class="ft-printer"></i> {{'COMMON.ACTION.PRINT' | translate}}
    </button>
    <button (click)="close(false)" type="button" class="btn btn-raised btn-secondary mr-1">
      <i class="ft-x"></i> {{'COMMON.BUTTON.CANCEL' | translate}}
    </button>
    <button [disabled]="moneyReceipt.invalid || authenticationService.hasPermission('Payment Receipt','create')" type="submit" class="btn btn-raised btn-success"><i class="ft-save"></i><span *ngIf="!coppyMode">{{'COMMON.BUTTON.SAVE' | translate}}</span><span *ngIf="coppyMode">{{'COMMON.BUTTON.DUPLICATE' | translate}}</span></button>
  </div>
</form>