.ngx-datatable .datatable-footer .datatable-footer-inner {
  display: inline-block !important;
}

.card {
  margin-top: -15px;
  margin-right: 20px;
}

nb-card-header,
nb-card-body {
  overflow: visible;
  @media screen and (min-width: 992px) {
    min-width: 750px;
  }
}

:host ::ng-deep .datatable-body-row {
  padding-top: 0.35rem !important;
  padding-bottom: 0.35rem !important;
  &:hover .icon-actions{
    background-color: transparent!important;
  }
}

:host ::ng-deep .ngx-datatable {
  overflow: visible;
}

// :host ::ng-deep .datatable-row-group {
//   height: 45px;
// }

:host ::ng-deep {
  .datatable-header-cell,
  .datatable-body-cell,
  .datatable__footer__row > * {
    &:nth-child(1) {
      flex: 0 0 50px;
    }
    &:nth-child(2) {
      flex: 0 0 17rem;
    }
    &:nth-child(3) {
      flex: 1 1 auto;
    }
    &:nth-child(4) {
      flex: 0 0 11rem;
    }
    &:nth-child(5) {
      flex: 0 0 8.5rem;
    }
    &:nth-child(6) {
      flex: 0 0 0;
      @media screen and (min-width: 993px){
        position: absolute;
        left: calc(100% + 10px);
        height: 100%;
        width: 30px !important;
        &:hover{
          .icon-actions{
            display: block;
          }
        }
      }
    }
  }

  .datatable__footer__row {
    position: relative;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
  }
}
::ng-deep :root {
  @media screen and (min-width: 768px) and (max-width: 992px) {
    font-size: 11px;
  }
  @media screen and (max-width: 767px) {
    font-size: 8px;
  }
}
.icon-dollar {
  white-space: nowrap;
  margin-right: 5px;
  margin-left: 3px;
  opacity: 0.5;
}