.ngx-datatable .datatable-footer .datatable-footer-inner {
  display: inline-block !important;
}

.card {
  margin-top: -15px;
  margin-right: 20px;
}

nb-card-header,
nb-card-body {
  @media screen and (min-width: 992px) {
    min-width: 750px;
  }
}

:host ::ng-deep .datatable-body-row {
  padding-top: 0.35rem !important;
  padding-bottom: 0.35rem !important;
}

:host ::ng-deep .datatable-body-cell {
  margin-right: -3px;
}

// :host ::ng-deep .datatable-row-group {
//   height: 45px;
// }

:host ::ng-deep {
  .datatable-header-cell,
  .datatable-body-cell,
  .datatable__footer__row > * {
    &:nth-child(1) {
      flex: 0 0 50px;
    }
    &:nth-child(2) {
      flex: 0 0 15rem;
    }
    &:nth-child(3) {
      flex: 1 1 auto;
    }
    &:nth-child(4) {
      flex: 0 0 11rem;
    }
    &:nth-child(5) {
      flex: 0 0 7rem;
    }
    &:nth-child(6) {
      flex: 0 0 40px;
    }
  }

  .datatable__footer__row {
    position: relative;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
  }
}
::ng-deep :root {
  @media screen and (min-width: 768px) and (max-width: 992px) {
    font-size: 11px;
  }
  @media screen and (max-width: 767px) {
    font-size: 8px;
  }
}
