<nb-card>
  <nb-card-header style="padding: 0.5rem 1rem;">
    <nb-select class="float-right" [selected]="selectedItem" [size]="'tiny'">
      <nb-option value='1' (click)="showByMonth()">{{ 'DASHBOARD.COMMON.VIEW.MONTH' | translate }}</nb-option>
      <nb-option value="2" (click)="showByQuater()">{{ 'DASHBOARD.COMMON.VIEW.QUARTER' | translate }}</nb-option>
    </nb-select>
    <div style="font-size: 0.9rem; line-height: 1.5rem;color: #edf1f7;">
      {{ 'DASHBOARD.CASHBALANCE.TITLE.HEADER' | translate }}
    </div>
  </nb-card-header>
  <nb-card-body class="d-flex align-items-center">
    <div class="cash-flow__header">
      <div class="row mx-0">
        <div class="col-4"></div>
        <div class="col-8">
          <div class="cash-flow__information row text-right" *ngIf="data?.cashBalance || data?.cashBalance == 0 ">
            <div class="col-7">{{ 'DASHBOARD.CASHBALANCE.TITLE.CLOSINGBALANCE' | translate }}</div>
            <div class="col-5">{{ suffix(data?.cashBalance) }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="cash-flow__unit" *ngIf="data?.chart">{{ 'DASHBOARD.COMMON.CHART.UNIT' | translate }}</div>
    <chart class="w-100" type="bar" *ngIf="data?.chart" [data]="data?.chart" [options]="options"></chart>
  </nb-card-body>
</nb-card>
