<nb-card>
  <nb-card-header style="padding: 0.5rem 1rem;">
    <nb-select class="float-right" [selected]="'1'" [size]="'tiny'">
      <nb-option value='1' (click)="showByMonth()">Xem theo tháng</nb-option>
      <nb-option value="2" (click)="showByQuater()">Xem theo quý</nb-option>
    </nb-select>
    <div style="font-size: 0.9rem; line-height: 1.5rem;color: #edf1f7;">
      TIỀN THU CHI CỦA BẠN
    </div>
  </nb-card-header>
  <nb-card-body class="d-flex align-items-center">
    <div class="cash-flow__header">
      <div class="row mx-0">
        <div class="col-4"></div>
        <div class="col-8">
          <div class="cash-flow__information row text-right" *ngIf="data?.cashBalance">
            <div class="col-9">Tiền tồn quỹ</div>
            <div class="col-3">{{ data?.cashBalance }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="cash-flow__unit" *ngIf="data?.chart">(DV: Triệu đồng)</div>
    <chart class="w-100" type="bar" *ngIf="data?.chart" [data]="data?.chart" [options]="options"></chart>
  </nb-card-body>
</nb-card>