<!--Login Page Starts-->

<nb-card class="forgot-password__card">
  <nb-card-header>
    <button class="btn float-right shadow-none" (click)="onClose()"><nb-icon icon="arrow-ios-downward-outline"></nb-icon></button>
    <h4 class="card-title">Forgot Password</h4>
  </nb-card-header>
  <nb-card-body class="forgot-password__card__body">
    <form class="container-fluid px-0" novalidate autocomplete="off" (ngSubmit)="login(loginForm)" [formGroup]="loginForm">
      <p class="card-text mb-2 pt-4">
        Enter your email address.
      </p>
      <div class="form-group  mb-3">
        <input formControlName="email" type="text" class="form-control mb-1" placeholder="Email" />
        <small class="form-text text-muted danger"
          *ngIf="!loginForm.get('email').valid && (loginForm.get('email').dirty || loginForm.get('email').touched)">Please
          enter a email!</small>
      </div>
      <div class="fg-actions justify-content-between text-right">
        <div class="recover-pass">
          <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary">
            <a class="text-decoration-none text-white">Next<nb-icon icon="arrow-forward-outline" class="ml-1"></nb-icon></a>
          </button>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>
<!--Login Page Ends-->