<!--Login Page Starts-->

<!-- <section [nbSpinner]="loading" nbSpinnerStatus="info" nbSpinnerSize="giant" id="login">
  <form class="container-fluid" novalidate autocomplete="off" (ngSubmit)="login(loginForm)" [formGroup]="loginForm">
    <div class="row full-height-vh m-0">
      <div class="col-12 d-flex align-items-center justify-content-center">
          <div class="card">
              <div class="card-content">
                <div class="card-body login-img">
                  <div class="row m-0">
                    <div class="col-lg-6 d-lg-block d-none py-2 px-3 text-center align-middle">
                      <img src="../../assets/img/gallery/login.png" alt="" class="img-fluid mt-5" width="400"
                        height="230" />
                    </div>
                    <div class="col-lg-6 col-md-12 bg-white px-4 pt-3">
                      <h4 class="card-title mb-2">Forgot</h4>
                      <p class="card-text mb-3">
                        Enter your email address and we’ll send a link to reset your password.
                      </p>
                      <div class="form-group  mb-2">
                        <input formControlName="email" type="text" class="form-control mb-1" placeholder="Email" />
                        <small class="form-text text-muted danger"
                          *ngIf="!loginForm.get('email').valid && (loginForm.get('email').dirty || loginForm.get('email').touched)">Please enter a email and email should be the real one!</small>
                      </div>
                      <div class="fg-actions justify-content-between text-center">
                        <div class="recover-pass">
                          <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary">
                            <a class="text-decoration-none text-white">Request password</a>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
      </div>
    </div>
  </form>
</section>
<nb-layout style="display: none">
</nb-layout> -->

<!--Login Page Ends-->