<form class="form" name="form" novalidate autocomplete="off" (ngSubmit)="saveUser(userForm)" [formGroup]="userForm">
  <div class="modal-header">
    <h4 class="modal-title">{{title}}</h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="form-group col-6 mb-1">
        <label for="fullName">{{'USER.CREATE.FULLNAME.LABEL'| translate}}</label>
        <input required class="form-control" formControlName="fullName" placeholder="Full Name">
        <small class="form-text text-muted danger"
          *ngIf="!userForm.get('fullName').valid && (userForm.get('fullName').dirty || userForm.get('fullName').touched)">Please
          enter fullname</small>
      </div>

      <div class="form-group col-6 mb-1">
        <label for="email">{{'USER.LIST.GRID.HEADER.EMAIL'| translate }}</label>
        <input required class="form-control" formControlName="email" placeholder="Email liên hệ">
        <small class="form-text text-muted danger"
          *ngIf="!userForm.get('email').valid && (userForm.get('email').dirty || userForm.get('email').touched)">Please
          enter email</small>
      </div>
    </div>
    <!-- <div class="row">
      <div class="form-group col-12 mb-1">
        <label for="email">{{'USER.LIST.GRID.HEADER.EMAIL'| translate }}</label>
        <input required class="form-control" formControlName="email" placeholder="Email liên hệ">
        <small class="form-text text-muted danger"
          *ngIf="!userForm.get('email').valid && (userForm.get('email').dirty || userForm.get('email').touched)">Please
          enter email</small>
      </div>
    </div> -->
    <div class="row" *ngIf="edit !== true">
      <div class="form-group col-6 mb-1">
        <label for="password">{{'USER.CREATE.PASS' | translate}}</label>
        <input validateLengthPasswordDirective [rowItem]="userForm" type="password" required class="form-control"
          formControlName="password" placeholder="password">
        <small class="form-text text-muted danger"
          *ngIf="!userForm.get('password').valid && (userForm.get('password').dirty || userForm.get('password').touched)">Please
          enter password, password must be greater than 6 characters </small>
      </div>
      <div class="form-group col-6 mb-1">
        <label for="passwordCF">{{'USER.CREATE.CF' | translate}}</label>
        <input validatePasswordDirective [rowItem]="userForm" type="password" required class="form-control"
          formControlName="passwordCF" placeholder="Confirm password">
        <small class="form-text text-muted danger"
          *ngIf="!userForm.get('passwordCF').valid && (userForm.get('passwordCF').dirty || userForm.get('passwordCF').touched)">Password
          confirmation does not match the password</small>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-6 mb-1">
        <label for="address">{{'USER.CREATE.ADDRESS'| translate }}</label>
        <input type="address" required class="form-control" formControlName="address" placeholder="address">
        <small class="form-text text-muted danger"
          *ngIf="!userForm.get('address').valid && (userForm.get('address').dirty || userForm.get('address').touched)">Please
          enter address</small>
      </div>
      <div class="form-group col-6 mb-1">
        <label for="phoneNumber">{{'USER.CREATE.PHONE' | translate}}</label>
        <input type="phoneNumber" required class="form-control" formControlName="phoneNumber"
          placeholder="Phone number">
        <small class="form-text text-muted danger"
          *ngIf="!userForm.get('phoneNumber').valid && (userForm.get('phoneNumber').dirty || userForm.get('phoneNumber').touched)">Please
          enter phone number</small>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-6 mb-1">
        <label for="birthDay">{{'USER.LIST.GRID.HEADER.BIRTHDAY' | translate}}</label>
        <div class="input-group mb-0">
          <input formControlName="birthDay" [(ngModel)]="model" class="form-control" placeholder="dd/mm/yyyy" name="dp" ngbDatepicker
             #d3="ngbDatepicker">
          <div class="input-group-append">

            <button class="btn btn-outline-secondary fa fa-calendar" (click)="d3.toggle()" type="button"></button>

          </div>

        </div>
        <!-- <div class="form-group">
          <div class="input-group">
            <input class="form-control" formControlName="birthDay" placeholder="yyyy-mm-dd" rInputMask="9999-99-99"
                   name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
            </div>
          </div>
        </div> -->
        <!-- <pre>Model: {{ model | json }}</pre> -->
        <!-- <small class="form-text text-muted danger"
          *ngIf="!userForm.get('birthDay').valid && (userForm.get('birthDay').dirty || userForm.get('birthDay').touched)">Please
          birthDay</small> -->
      </div>
      <div class="form-group col-6 mb-1">
        <!-- <p-multiSelect [options]="cars" [(ngModel)]="selectedCities" formControlName="role"
          [panelStyle]="{minWidth:'12em'}">

          <ng-template let-value pTemplate="selectedItems">
            <div *ngFor="let val of value" class="ui-multiselected-item-token ui-corner-all">
              <span>{{val}}</span>
            </div>
            <span *ngIf="!value || value.length === 0" class="ui-multiselected-empty-token ui-corner-all">Choose
              roles</span>
          </ng-template>
          <ng-template let-car pTemplate="item">
            <div style="width: 80%;text-align:left;display: inline-block;justify-content: right;margin:0 auto;">
              {{car.label}}</div>
          </ng-template>
        </p-multiSelect> -->
        <label for="ROLE">{{'CREATE.FORM.TITLE.ROLE' | translate}}</label>
        <select formControlName="role" id="paymentMethods" class="form-control">
          <option [ngValue]="null">{{'CREATE.FORM.ROLE' | translate}}</option>
          <option *ngFor="let method of cars" [ngValue]="method.value">
            {{ method.label }}
          </option>
        </select>
      </div>
    </div>




    <!-- <div class="row">
      <div class="form-group col-12 mb-1">
        <label for="address">{{'USER.CREATE.ADDRESS'| translate }}</label>
        <input type="address" required class="form-control" formControlName="address" placeholder="address">
        <small class="form-text text-muted danger"
          *ngIf="!userForm.get('address').valid && (userForm.get('address').dirty || userForm.get('address').touched)">Please
          enter address</small>
      </div>
    </div> -->
    <!-- <div class="row"  *ngIf = "edit !== true">
      <div class="form-group col-12 mb-1">
        <label for="passwordCF">{{'USER.CREATE.CF' | translate}}</label>
        <input validatePasswordDirective [rowItem]="userForm" type="password" required class="form-control" formControlName="passwordCF"
          placeholder="Confirm password">
        <small class="form-text text-muted danger"
          *ngIf="!userForm.get('passwordCF').valid && (userForm.get('passwordCF').dirty || userForm.get('passwordCF').touched)">Password confirmation does not match the password</small>
      </div>
    </div> -->
    <div class="row">
      <div class="form-group col-12 mb-1">
        <div class="ui-g col-12" style="margin-left: -16px;">
          <label class="gender" for="email">{{'USER.CREATE.GENDER'| translate }}</label>
            <div class="col-3">
              <p-radioButton name="group1" value="Nam" label="{{'CREATE.FORM.ROLE.NAM' | translate}}" formControlName="gender" inputId="opt1">
              </p-radioButton>
            </div>
            <div class="col-3">
              <p-radioButton name="group1" value="Nữ" label="{{'CREATE.FORM.ROLE.NU' | translate}}" formControlName="gender" inputId="opt2"></p-radioButton>
            </div>
            <div class="col-3">
              <p-radioButton name="group1" value="Khác" label="{{'CREATE.FORM.ROLE.OTHER' | translate}}" formControlName="gender" inputId="opt3">
              </p-radioButton>
            </div>
          
        </div>

        <small class="form-text text-muted danger"
          *ngIf="!userForm.get('gender').valid && (userForm.get('gender').dirty || userForm.get('gender').touched)">Please
          select gender</small>
      </div>
    </div>

    <!-- <div class="row">
      <div class="form-group col-6 mb-1">
        <p-multiSelect [options]="cars" [(ngModel)]="selectedCities" formControlName="role"
          [panelStyle]="{minWidth:'12em'}">

          <ng-template let-value pTemplate="selectedItems">
            <div *ngFor="let val of value" class="ui-multiselected-item-token ui-corner-all">
              <span>{{val}}</span>
            </div>
            <span *ngIf="!value || value.length === 0" class="ui-multiselected-empty-token ui-corner-all">Choose
              roles</span>
          </ng-template>
          <ng-template let-car pTemplate="item">
            <div style="width: 80%;text-align:left;display: inline-block;justify-content: right;margin:0 auto;">
              {{car.label}}</div>
          </ng-template>
        </p-multiSelect>
      </div>
    </div> -->
    <div class="row">
      <div class="form-group col-12 mb-1">

        <div class="ui-g col-12" style="margin-left: -16px;">
          <label for="email">{{'USER.CREATE.STATUS'| translate }}</label>
          <div class="col-4">
            <p-radioButton name="group2" value="1" label="Active" [(ngModel)]="ischeckStatus" formControlName="status"
              inputId="Active"></p-radioButton>
          </div>
          <div class="col-4 inactive">
            <p-radioButton name="group2" value="0" label="InActive" [(ngModel)]="ischeckStatus" formControlName="status"
              inputId="InActive"></p-radioButton>
          </div>
        </div>

        <small class="form-text text-muted danger"
          *ngIf="!userForm.get('status').valid && (userForm.get('status').dirty || userForm.get('status').touched)">Please
          select gender</small>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" (click)="close(false)" class="btn btn-raised btn-secondary mr-1">
      <i class="ft-x"></i> {{'COMMON.BUTTON.CANCEL' | translate }}
    </button>
    <button [disabled]="userForm.invalid" type="submit" class="btn btn-raised btn-success">
      <i class="ft-save"></i> {{'COMMON.BUTTON.SAVE' | translate }}
    </button>
  </div>
</form>