<form class="form" name="form" novalidate autocomplete="off" (ngSubmit)="saveUser(userForm)" [formGroup]="userForm">
  <div class="modal-header">
    <h4 class="modal-title">{{title}}</h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="form-group col-12 mb-2">
        <label for="fullName">{{'USER.CREATE.FULLNAME.LABEL'| translate}}</label>
        <input required class="form-control" formControlName="fullName" placeholder="Full Name">
        <small class="form-text text-muted danger"
          *ngIf="!userForm.get('fullName').valid && (userForm.get('fullName').dirty || userForm.get('fullName').touched)">Please
          enter fullname</small>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-12 mb-2">
        <label for="email">{{'USER.LIST.GRID.HEADER.EMAIL'| translate }}</label>
        <input required class="form-control" formControlName="email" placeholder="Email liên hệ">
        <small class="form-text text-muted danger"
          *ngIf="!userForm.get('email').valid && (userForm.get('email').dirty || userForm.get('email').touched)">Please
          enter email</small>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-12 mb-2">
        <label for="email">{{'USER.CREATE.GENDER'| translate }}</label>

        <div class="ui-g" style="width:250px;margin-bottom:10px">
          <div class="ui-g-4"><p-radioButton name="group1" value="Nam" label="Nam" formControlName="gender"  inputId="opt1"></p-radioButton></div>
          <div class="ui-g-4"><p-radioButton name="group1" value="Nữ" label="Nữ" formControlName="gender" inputId="opt2"></p-radioButton></div>
          <div class="ui-g-4"><p-radioButton name="group1" value="Khác" label="Khác" formControlName="gender"  inputId="opt3"></p-radioButton></div>
      </div>

        <small class="form-text text-muted danger"
          *ngIf="!userForm.get('gender').valid && (userForm.get('gender').dirty || userForm.get('gender').touched)">Please select gender</small>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-12 mb-2">
        <label for="birthDay">BirthDay</label>
        <div class="input-group mb-0">
          <input formControlName="birthDay" class="form-control" placeholder="dd/mm/yyyy" name="dp" ngbDatepicker
            (focus)="d3.toggle()" #d3="ngbDatepicker" id="birthDay">
          <div class="input-group-append">
            <div class="input-group-text" (click)="d3.toggle()">
              <i class="fa fa-calendar" style="cursor: pointer;"></i>
            </div>
          </div>
        </div>
        <small class="form-text text-muted danger"
          *ngIf="!userForm.get('birthDay').valid && (userForm.get('birthDay').dirty || userForm.get('birthDay').touched)">Please
          birthDay</small>
      </div>
    </div>
    <div class="row" *ngIf = "edit !== true">
      <div class="form-group col-12 mb-2">
        <label for="password">{{'USER.CREATE.PASS' | translate}}</label>
        <input validateLengthPasswordDirective [rowItem]="userForm" type="password" required class="form-control" formControlName="password" placeholder="password">
        <small class="form-text text-muted danger"
          *ngIf="!userForm.get('password').valid && (userForm.get('password').dirty || userForm.get('password').touched)">Please enter password, password must be greater than 6 characters </small>
      </div>
    </div>
    <div class="row"  *ngIf = "edit !== true">
      <div class="form-group col-12 mb-2">
        <label for="passwordCF">{{'USER.CREATE.CF' | translate}}</label>
        <input validatePasswordDirective [rowItem]="userForm" type="password" required class="form-control" formControlName="passwordCF"
          placeholder="Confirm password">
        <small class="form-text text-muted danger"
          *ngIf="!userForm.get('passwordCF').valid && (userForm.get('passwordCF').dirty || userForm.get('passwordCF').touched)">Password confirmation does not match the password</small>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-12 mb-2">
        <label for="phoneNumber">{{'USER.CREATE.PHONE' | translate}}</label>
        <input type="phoneNumber" required class="form-control" formControlName="phoneNumber"
          placeholder="Phone number">
        <small class="form-text text-muted danger"
          *ngIf="!userForm.get('phoneNumber').valid && (userForm.get('phoneNumber').dirty || userForm.get('phoneNumber').touched)">Please
          enter phone number</small>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-12 mb-2">
        <label for="address">{{'USER.CREATE.ADDRESS'| translate }}</label>
        <input type="address" required class="form-control" formControlName="address" placeholder="address">
        <small class="form-text text-muted danger"
          *ngIf="!userForm.get('address').valid && (userForm.get('address').dirty || userForm.get('address').touched)">Please
          enter address</small>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-12 mb-2">
        <p-multiSelect [options]="cars" [(ngModel)]="selectedCities" formControlName="role" [panelStyle]="{minWidth:'12em'}">

          <ng-template let-value pTemplate="selectedItems">
            <div *ngFor="let val of value" class="ui-multiselected-item-token ui-corner-all">
              <span>{{val}}</span>
            </div>
            <span *ngIf="!value || value.length === 0" class="ui-multiselected-empty-token ui-corner-all">Choose roles</span>
          </ng-template>
          <ng-template let-car pTemplate="item">
            <div style="width: 80%;text-align:left;display: inline-block;justify-content: right;margin:0 auto;">
              {{car.label}}</div>
          </ng-template>
        </p-multiSelect>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-12 mb-2">
        <label for="email">{{'USER.CREATE.STATUS'| translate }}</label>

        <div class="ui-g" style="width:250px;margin-bottom:10px">
          <div class="ui-g-6"><p-radioButton name="group2" value="1" label="Active" [(ngModel)]="ischeckStatus" formControlName="status"  inputId="Active"></p-radioButton></div>
          <div class="ui-g-6"><p-radioButton name="group2" value="0" label="InActive" [(ngModel)]="ischeckStatus" formControlName="status" inputId="InActive"></p-radioButton></div>
      </div>

        <small class="form-text text-muted danger"
          *ngIf="!userForm.get('status').valid && (userForm.get('status').dirty || userForm.get('status').touched)">Please select gender</small>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" (click)="close(false)" class="btn btn-raised btn-secondary mr-1">
      <i class="ft-x"></i> {{'COMMON.BUTTON.CANCEL' | translate }}
    </button>
    <button [disabled]="userForm.invalid" type="submit" class="btn btn-raised btn-success">
      <i class="ft-save"></i> {{'COMMON.BUTTON.SAVE' | translate }}
    </button>
  </div>
</form>