<nb-card>
  <div class="card-invoice mx-auto">
    <nb-card-header class="mx-2 border-0 pb-0">
      <div class="row w-100 mx-0 px-4 d-flex justify-content-between">
        <h1 *ngIf="viewMode === false && isCheckHidden !== true" class="invoice__title float-left">{{'TAX.INVOICE.NEW.HEADER' | translate}}</h1>
        <h1 *ngIf="viewMode || isCheckHidden === true" class="invoice__title float-left">TAX Invoice No {{title}}</h1>
        <div class="float-right mt-1">
          <button *ngIf="viewMode" (click)="Print()" class="btn btn-raised mr-2 ml-2 btn-secondary"><i class="ft-printer"></i> {{'COMMON.ACTION.PRINT' | translate}}</button>
          <button *ngIf="!viewMode"  (click)="cancel()" class="btn btn-raised mr-3 ml-2 btn-secondary">{{'COMMON.BUTTON.CANCEL' | translate}}</button>
          <button *ngIf="viewMode"  (click)="cancel()" class="btn btn-raised mr-3 ml-2 btn-secondary">{{'INVOICE.EXIT' | translate}}</button>
          <button [disabled] = "authenticationService.hasPermission('Invoice','create')" *ngIf="!viewMode" (click)="save()" class="btn btn-raised btn-success">{{saveText}}</button>
          <button [disabled] = "authenticationService.hasPermission('Invoice','update')" *ngIf="viewMode" (click)="redirectToEditInvoice()" class="btn btn-raised btn-success">{{ 'COMMON.ACTION.EDIT' | translate }}</button>
        </div>
      </div>

    </nb-card-header>
    <nb-card-body class="pt-0">
      <div (mouseenter)="isMouseEnter = true" (mouseleave)="isMouseEnter = false">
        <form class="frm-invoice" autocomplete="off" [formGroup]="invoiceForm">
          <div class="row invoice-area">
            <div class="col-sm-12 p-0">
              <div class="border px-3 py-3">
                <div class="row">
                  <div class="col-md-3 col-sm-4" style="min-width: 200px;">
                    <!-- <div class="text-left" *ngIf="imgURL">
                      <img [src]="imgURL" class="preview-logo" *ngIf="imgURL">
                    </div> -->
                    <div class="upload-box d-flex align-items-center" >
                      <div class="text-center w-100 invoice__font--medium-2 " *ngIf="!imgURL">
                        Drag you logo here,
                        <span class="d-inline-block">or select a file</span>
                        
                      </div>
                      <img [src]="imgURL" class="preview-logo" *ngIf="imgURL">
                      <input #file1 [src]="imgURL" type="file" class="input-upload" (change)="showPreview(file1.files)">
                      
                    </div>
                    <!-- <p class="text-danger" *ngIf="message">{{message}}</p> -->
                  </div> <!-- end upload col-sm-6 -->
                  <div class="col-md-9 col-sm-8" style="flex: 1;">
                    <div class="row">
                      <div class="col">
                        <p class="mb-0">
                          <input style="opacity: unset" kendotextbox id="yourCompanyName" 
                            formControlName="yourCompanyName" [readOnly]="true"
                            class="border-0 full-width imput-reference-custom text-right place-holder__color invoice__input__textbox"
                            [value]="companyName" placeholder="Your Company Name" nfNoSpaces maxlength="250"></p>
                        <p class="mb-0">
                          <input style="opacity: unset" kendotextbox  [readOnly]="true"
                            class="border-0 full-width imput-reference-custom text-right place-holder__color invoice__input__textbox"
                            placeholder="Your Address" id="yourCompanyAddress" formControlName="yourCompanyAddress"
                            [value]="companyAddress" nfNoSpaces maxlength="250">
                        </p>
                      </div>
                    </div> <!-- end col-sm-6-->
                    <div class="row">
                      <div class="col-sm-8">
                        <input kendotextbox
                          class="border-0 text-right full-width imput-reference-custom place-holder__color invoice__input__textbox"
                          placeholder="Your Bank Acount" id="yourBankAccount" formControlName="yourBankAccount" [readOnly]="true"
                          nfNoSpaces maxlength="250" [value]="bankAccount">
                      </div>
                      <div class="col-sm-4">
                        <input style="opacity: unset" kendotextbox id="yourTaxCode" formControlName="yourTaxCode" [readOnly]="true"
                          placeholder="Tax code" [value]="taxCode"
                          class="border-0 text-right full-width imput-reference-custom place-holder__color invoice__input__textbox" nfNoSpaces
                          maxlength="250">
                      </div>
                    </div>
                  </div>
                </div> <!-- end row -->
                <div class="row my-3">
                  <div class="col-12 col-md-6">
                    <p class="mb-0 invoice__input__title invoice__text--height-normal">{{'BUY.INVOICE.CREATE.BILL' | translate}} &nbsp;&nbsp;<a
                        (click)="editClient()" *ngIf="checkIcon === true || canActionClient()" class="icon-action">
                        <span class="icon-edit1"></span>
                      </a>
                      <a class="icon-action" (click)="deleteClient()" *ngIf="checkIcon === true || canActionClient() || coppyMode === true">
                        <span class="icon-delete1"></span>
                      </a></p>

                    <div class="client-fields">
                      <div class="row mx-0">
                        <div class="col-sm-6 col-md-6 ngb-typeahead-client pl-0"
                          style="max-width: 100%;flex: 0 0 100%;">


                          <input style="opacity: unset" #xxx type="text" [readOnly]="isRead"
                            (focus)="focusClient$.next($event.target.value)" autocomplete="none"
                            [ngbTypeahead]="searchClient" [value]="clientSelected.contactName"
                            [resultTemplate]="customItemTemplate" kendoTextBox [inputFormatter]="clientFormatter"
                            id="contactName" formControlName="contactName" (selectItem)="selectedItem($event)"
                            class="border-0 full-width imput-reference-custom place-holder__color invoice__input__textbox invoice__text--height-normal pl-0 invoice__input__textbox--disable"
                            placeholder="{{'INVOICE.FORM.CREATE.CLIENTCONTACTNAME.PLACEHOLDER' | translate}}" nfNoSpaces maxlength="250" #instance="ngbTypeahead"
                            (keydown)="typeheadScrollHandler($event)" placement="bottom"
                            [ngClass]="{'border-0':invoiceForm.controls.contactName.touched === false || invoiceForm.controls.contactName.invalid === false}" />

                          <ng-template #customItemTemplate let-r="result" let-t="term">
                            <div class="row mt-2 client-item">
                              <div class="col-sm-2 ">
                                <ngx-avatar name="{{r.clientName | Split:2}}"></ngx-avatar>
                              </div>
                              <div class="col-sm-10 col-md-10 pb-2 font-small-3">
                                <p class="mb-0">{{r.clientName}}</p>
                                <p class="mb-0">{{r.address}}</p>
                              </div>
                            </div>
                          </ng-template>
                        </div>
                        <div class="col-12 pl-0">
                          <input style="opacity: unset" kendotextbox id="clientName" formControlName="clientName" [readOnly]="true"
                            class="border-0 full-width imput-reference-custom place-holder__color invoice__input__textbox invoice__text--height-normal invoice__input__textbox--disable"
                            [value]="clientSelected.clientName" [readOnly]="!isEditClient" placeholder="{{'INVOICE.FORM.CREATE.CLIENTNAME.PLACEHOLDER' | translate}}"
                            nfNoSpaces maxlength="250"
                            [ngClass]="{'border-0':invoiceForm.controls.clientName.touched === false || invoiceForm.controls.clientName.invalid === false } ">
                        </div>
                        <div class="col-12 pl-0">
                          <input style="opacity: unset" kendotextbox id="clientAddress" formControlName="address" [readOnly]="isRead"
                            class="border-0 full-width imput-reference-custom place-holder__color invoice__input__textbox invoice__text--height-normal invoice__input__textbox--disable"
                            [value]="clientSelected.address" [readOnly]="!isEditClient" placeholder="{{'INVOICE.FORM.CREATE.CLIENTADDRESS.PLACEHOLDER' | translate}}"
                            nfNoSpaces maxlength="250">
                        </div>
                        <div class="col-12 pl-0">
                          <div class="row mx-0">
                            <div class="col-sm-6 col-md-5 p-0"> <input kendotextbox id="taxCode" [readOnly]="isRead"
                                formControlName="taxCode" style="opacity: unset"
                                class="border-0 full-width imput-reference-custom place-holder__color invoice__input__textbox invoice__text--height-normal invoice__input__textbox--disable"
                                [value]="clientSelected.taxCode" [readOnly]="!isEditClient" placeholder="{{'INVOICE.FORM.CREATE.TAXCODEHEADER.PLACEHOLDER' | translate}}"
                                nfNoSpaces maxlength="250"></div>
                            <div class="col-sm-6 col-md-7 p-0"> <input kendotextbox id="email" formControlName="email" [readOnly]="isRead"
                                style="opacity: unset"
                                class="border-0 full-width imput-reference-custom t-color-blue place-holder__color invoice__input__textbox invoice__text--height-normal invoice__input__textbox--disable"
                                [value]="clientSelected.email" [readOnly]="!isEditClient" placeholder="Email" nfNoSpaces
                                maxlength="250"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="row mx-0">
                      <div class="col-6 date px-0">
                        <div>
                          <p class="invoice__input__title invoice__text--height-normal mb-0">{{'BUY.INVOICE.CREATE.DATE.OR.ISSUE' | translate}}</p>
                          <div class="input-group mb-0 invoice__datepicker__wrapper">
                            <input [rowItem]="this.invoiceForm.controls" validateDateDirective #datetiime kendoTextBox [readOnly]="isRead"
                              (dateSelect)="onDateSelection($event)" (click)="d2.toggle()"  style="opacity: unset " [disabled]="isRead"
                              class="border-0 full-width imput-reference-custom p-0 invoice__input__textbox invoice__text--height-normal"
                              placeholder="dd/mm/yyyy" name="dp" formControlName="issueDate" ngbDatepicker
                              #d2="ngbDatepicker" [ngClass]="{'dateColor': isCheckDate === true}">
                            <!-- <span class="k-icon k-i-calendar-date position-absolute"
                              [ngClass]="(isMouseEnter == true) ? 'visible' : 'invisible'"
                              style="margin-top: 0.5rem;height: 14px; right: 0;" (click)="d2.toggle()"></span> -->
                              <button [disabled]="isRead"  [ngClass]="(isMouseEnter == true) ? 'visible' : 'invisible'" style="margin-top: 0.5rem;height: 14px; right: 0; border: 0;" class="k-icon k-i-calendar-date position-absolute" (click)="d2.toggle()" type="button"></button>

                          </div>
                        </div>
                        <div>
                          <p class="invoice__input__title invoice__text--height-normal mb-0">{{'BUY.INVOICE.FROM.SEARCH.DUE' | translate}}</p>
                          <div class="input-group mb-0 invoice__datepicker__wrapper">
                            <input [rowItem]="this.invoiceForm.controls" validateDateDirective #datetiime kendoTextBox [readOnly]="isRead"
                              (dateSelect)="onDateSelection($event)" (click)="d3.toggle()" [disabled]="isRead"
                              formControlName="dueDate" style="opacity: unset"
                              class="border-0 full-width imput-reference-custom p-0 invoice__input__textbox invoice__text--height-normal"
                              placeholder="dd/mm/yyyy" name="dp" ngbDatepicker #d3="ngbDatepicker"
                              [ngClass]="{'dateColor': isCheckDate === true}">
                            <!-- <span class="k-icon k-i-calendar-date position-absolute"
                              [ngClass]="(isMouseEnter == true) ? 'visible' : 'invisible'"
                              style="margin-top: 0.5rem;height: 14px; right: 0;" (click)="d3.toggle()"></span> -->
                              <button [disabled]="isRead"  [ngClass]="(isMouseEnter == true) ? 'visible' : 'invisible'" style="margin-top: 0.5rem;height: 14px; right: 0; border: 0;" class="k-icon k-i-calendar-date position-absolute" (click)="d3.toggle()" type="button"></button>

                          </div>
                        </div>
                      </div>
                      <div class="col-6 refer px-0">
                        
                        <div>
                          <p class="mb-0 invoice__input__title invoice__text--height-normal mb-0">{{'BUY.INVOICE.CREATE.INVOICE.VAT' | translate}}</p>
                          <div class="row mx-0">
                            <input style="opacity: unset;" kendotextbox placeholder="VAT"
                              formControlName="taxInvoiceNumber" [readOnly]="true"
                              [ngClass]="{'border-0':invoiceForm.controls.taxInvoiceNumber.touched === false || invoiceForm.controls.taxInvoiceNumber.invalid === false || isMouseEnter == false}"
                              class="w-100 amountPaid invoice__input__textbox place-holder__color invoice__text--height-normal invoice__font--medium-3" />
                          </div>

                        </div>
                        <div>
                          <p class="mb-0 invoice__input__title invoice__text--height-normal mb-0 d-flex align-items-baseline">{{'BUY.INVOICE.CREATE.INVOICE.INVOICENUMBER' | translate}}
                            <button (click)="openInvoiceReference()" class="btn p-0" style="font-size: 29px;line-height: 23px; color: inherit;" [disabled]="isRead || !createMode">
                            ...
                            </button>
                        </p>
                          <div class="row mx-0">
                            <input style="opacity: unset;" kendotextbox placeholder="{{'BUY.INVOICE.GRID.INVOICE' | translate}}"
                              class="form-control" type="text" [readOnly]="true"
                              [value]="invoiceForm.get('invoiceNumber').valueChanges | async | InvoiceNumberPipe"
                              class=" w-100 border-0 imput-reference-custom p-0 invoice__input__textbox place-holder__color invoice__text--height-normal"
                              required />
                          </div>

                        </div>

                        <!-- <div class="mt-2">
                          <div>
                            {{amountDue | currency:'VND':''}}
                          </div>
                        </div> -->

                      </div>
                      <div class="col-12 px-0">
                        <div class="mt-0 d-flex">
                          <p class="mb-0 text-nowrap mr-2 invoice__input__title invoice__text--height-normal">{{'ACCOUNT.DETAIL.LIST.reference' | translate}}</p>
                          <textarea kendoTextArea [autoSize]="true" placeholder="{{'INVOICE.FORM.CREATE.REFERENCE' | translate}}" formControlName="reference"
                            style="opacity: unset" [readOnly]="isRead"
                            class="p-0 border-0 full-width imput-reference-custom place-holder__color invoice__text--height-normal invoice__font--medium-2"></textarea>
                        </div>
                      </div>
                      
                    </div>

                  </div>
                </div> <!-- end row -->
                <div class="row">
                  <!-- table of items -->
                  <div class="items-table invoice__items-table">
                    <div class="row header invoice__input__title mx-0">
                      <div class="col-md-6 col-5 pl-0">{{'BUY.INVOICE.CREATE.DESCRIPTION.UNIT' | translate}}</div>
                      <div class="col-md-2 col-2 text-center">{{'INVOICE.FORM.CREATE.QTY' | translate}}</div>
                      <div class="col-md-2 col-2 text-right">{{'INVOICE.FORM.CREATE.PRICE' | translate}}</div>
                      <div class="col-md-2 col-2 text-right amount-pc pr-0">{{'INVOICE.FORM.CREATE.AMOUNT' | translate}}</div>
                      <div class="col-md-2  col-3 text-right amount-mobile pr-0">Amt</div>
                    </div>
                    <!-- ngRepeat: item in invoice.items -->
                    <div formArrayName="items">
                      <div class="row invoice-item pb-2 mx-0"
                        *ngFor="let detail of invoiceForm.get('items')['controls']; index as i">
                        <ng-container [formGroupName]="i">
                          <div class="col-md-6 col-5 d-inline-grid pl-0 ngb-typeahead-product">
                            <input formControlName="productName" #productName id="productName{{i}}" kendotextbox [readOnly]="isRead || !createMode"
                              placeholder="{{'INVOICE.FORM.CREATE.ENTERITEMNAME.PLACEHOLDER' | translate}}" autocomplete="off"
                              class="productNameClass border-0 full-width imput-reference-custom place-holder__color invoice__input__textbox invoice__input__textbox--disable invoice__items-table__input"
                              [ngbTypeahead]="searchProduct" [resultTemplate]="productTemplate"
                              (selectItem)="selectedProduct($event,i)" #instance="ngbTypeahead"
                              (keydown)="typeheadScrollHandler($event)" placement="bottom"
                              (focus)="onFocus($event)"
                              [inputFormatter]="productFormatter" />

                            <input formControlName="description" #description kendotextbox [readOnly]="isRead || !createMode"
                              placeholder="{{'INVOICE.FORM.CREATE.DESCRIPTION' | translate}}" id="description{{i}}" 
                              class="border-0 full-width imput-reference-custom font-italic invoice__font--medium-2 description place-holder__color invoice__input__textbox invoice__input__textbox--disable invoice__items-table__input" />
                            <ng-template #productTemplate let-r="result" let-t="term">
                              <div class="row m-0 product-item py-1">
                                <div class="col-sm-8 col-md-8 p-0">
                                  <p class="mb-0 text-left">{{r.productName}}</p>
                                </div>
                                <div class="col-sm-4 col-md-4 p-0">
                                  <p class="mb-0 text-right">{{r.unitPrice | currency:'VND':''}}</p>
                                </div>
                              </div>

                            </ng-template>
                          </div>
                          <div class="col-md-2 col-2 text-left d-inline-grid">
                            <!-- <kendo-numerictextbox class="border-0 full-width" tabindex="{{i* 4 + 2}}"
                              [autoCorrect]="true" formControlName="qty" [format]="'n'" #quantity [min]="1"
                              [max]="10000" placeholder="Enter qty" [spinners]="false">
                            </kendo-numerictextbox> -->
                            <input  digitOnly [min]=1
                            [max]="10000" #quantity
                             formControlName="qty"
                            placeholder="{{'BUY.INVOICE.CREATE.PLACEHOLDER.ENTER.QTY' | translate}}" kendoTextBox  [readOnly]="isRead || !createMode"
                            class="text-center border-0 full-width invoice__font--medium-2 invoice__items-table__input"/>
                            <a *ngIf="detail.value.taxs.length > 0" style="color:blue;"
                              (click)="addTaxPopup(detail,i)" class="lb-discount invoice__font--medium-2 invoice__items-table__input">{{taxsText}}</a>
                            <a *ngIf="detail.value.taxs.length === 0"
                              style="color:blue;" class="lb-discount invoice__font--medium-2 invoice__items-table__input"
                              (click)="addTaxPopup(detail,i)">Add Tax</a>
                          </div>
                          <div class="col-md-2 col-2 text-left d-inline-grid">
                            <input [cleave]=" {numeral: true,numeralThousandsGroupStyle: 'thousand'}" digitOnly  kendotextbox [readOnly]="isRead || !createMode" formControlName="price" id="price{{i}}"
                              maxlength="16" placeholder="{{'BUY.INVOICE.CREATE.PLACEHOLDER.ENTER.PRICE' | translate}}" placeholder="Enter price" 
                              class="border-0 full-width text-right input-reference-custom place-holder__color invoice__input__textbox invoice__input__textbox--disable invoice__items-table__input"
                               />

                            <input kendotextbox style="color: blue"
                              class="text-right border-0 full-width t-color-blue input-amount input-reference-custom place-holder__color invoice__input__textbox invoice__input__textbox--disable invoice__font--medium-2 invoice__items-table__input"
                              [min]="1" [max]="100" formControlName="vat" [readOnly]="true" #tax placeholder="" />
                          </div>
                          <div class="col-md-2 col-3 text-right d-inline-grid pr-0">
                            <input formControlName="amount" kendotextbox placeholder="{{'INVOICE.FORM.CREATE.AMOUNT' | translate}}" [readOnly]="true"
                              class="border-0 full-width t-color-black input-amount mput-reference-custom place-holder__color invoice__input__textbox invoice__input__textbox--disable invoice__items-table__input" />
                            <input formControlName="vatAmount" kendotextbox [readOnly]="true"
                              class="border-0 full-width t-color-red input-amount mput-reference-custom place-holder__color invoice__input__textbox invoice__input__textbox--disable invoice__font--medium-2 invoice__items-table__input" />
                          </div>
                          <div *ngIf="!viewMode && createMode" [ngClass]="(isMouseEnter == true) ? 'visible' : 'invisible'"
                            class="text-right d-inline-grid pr-0"> <a class="item-delete mt-2"
                              *ngIf="getFormArray().length > 0" (click)="removeItem(i)">
                              <i class="icon-delete" aria-hidden="true"></i>
                            </a>
                          </div>
                        </ng-container>
                      </div>
                    </div>
                    <!--end ngRepeat: item in invoice.items -->
                    <div *ngIf="!viewMode && createMode" class="row" style="border: none;margin-top: 20px"
                      [ngClass]="(isMouseEnter == true) ? 'visible' : 'invisible'">
                      <div class="add-line-box d-flex align-items-center">
                        <input type="button" value="{{'BUY.INVOICE.CREATE.ADD.LINE' | translate}}"
                          (click)="addNewItem()" class=" text-center w-100"
                          style="cursor: pointer;background-color:#fff;border: none" />
                      </div>
                    </div>
                  </div>
                  <!-- result row -->

                </div>
                <div class="row mt-4">

                  <div class="col-md-6 col-5">
                    <div class="form-group">
                      <div class="row mrl-1">
                        <div>
                          <span class="invoice__font--medium-2 font-italic">{{'INVOICE.FORM.CREATE.ATTACHFILRS' | translate}}</span>
                          <a>
                            <label for="attach-files">
                              <img style="cursor: pointer;" class="img-attach" src="../../../../assets/img/attach.png"
                            [ngClass]="(isMouseEnter == true) ? 'visible' : 'invisible'">
                            </label>
                            <input style="cursor: pointer;" id="attach-files" #file type="file" class="input-upload ipfile"
                              (change)="showPreviewUploadFile(file.files)">
                          </a>
                        </div>
                        <!-- <a (click)="uploadFileMultiple(null)" *ngIf="viewMode"
                        class="invoice__font--medium-2 font-italic">{{'BUY.INVOICE.CREATE.UPLOAD.FILE' | translate}}</a>
                        <i (click)="uploadFileMultiple(null)" *ngIf="viewMode" style="cursor: pointer;"
                          class="gg-software-upload mlt-13"></i> -->
                      </div>

                      <ul class="file">
                        <li *ngFor="let item of fileUpload, let i = index">
                          <div class="row pdt-7">
                            <div class="col-6">

                              <h6 *ngIf="!viewMode" class="font-size">{{getName(item.name)}}</h6>
                              <h6 (click)="dowloadFile(item.name)" *ngIf="viewMode" class="font-size filedowload">
                                {{getName(item.name)}}</h6>

                            </div>
                            <span style="cursor: pointer;" (click)="removeFile(item,i)">X</span>
                          </div>

                        </li>
                      </ul>

                      <!-- <i (click)="uploadFileMultiple(null)" *ngIf="viewMode" style="cursor: pointer;"
                        class="fas fa-file-upload"></i> -->
                    </div>
                  </div>

                  <div class="col-md-6 col-7 ">
                    <div class="invoice__font--medium-2">
                      <div class="row mb-1">
                        <div class="col-6 text-right">
                          {{'INVOICE.FORM.CREATE.SUBTOTAL' | translate}}
                        </div>
                        <div class="col-6 text-right">
                          {{subTotalAmount | currency:'VND':''}}
                        </div>
                      </div>
                      <div class="row border-bottom">
                        <div class="col-6 text-right t-color-blue py-1">
                          {{'INVOICE.FORM.CREATE.ADDDISCOUNT' | translate}}
                        </div>
                        <div class="col-6" style="float: left">
                          <input [cleave]=" {numeral: true,numeralThousandsGroupStyle: 'thousand'}" digitOnly [min]=1
                            [max]=100 [maxlength]=2 (ngModelChange)="totalDiscountChange()"
                            formControlName="totalDiscount"
                            placeholder="{{'INVOICE.FORM.CREATE.ADDDISCOUNT.PLACEHOLDER' | translate}}" kendoTextBox [readOnly]="isRead || !createMode"
                            class="border-0 width-50-per text-center input-amount mput-reference-custom invoice__font--medium-2 px-0"
                            />
                          <label class="border-0 width-50-per text-right form-label t-color-red">
                            {{subTotalDiscountIncl | currency:'VND':''}}</label>
                        </div>
                      </div>
                      <div class="row border-bottom pb-1 my-1">
                        <div class="col-6 text-right t-color-blue">
                          {{'BUY.INVOICE.CREATE.ALL.TAX' | translate}}
                        </div>
                        <div class="col-6 text-right" style="float: left">
                          <label style="color: blue" class="border-0 width-50-per text-rigth form-label">
                            {{totalTaxAmount | currency:'VND':''}}</label>
                        </div>
                      </div>

                      <div class="row ">
                        <div class="col-6 text-right">
                          {{'INVOICE.GRID.HEADER.TOTAL' | translate}}
                        </div>
                        <div class="col-6 text-right">
                          {{totalAmount | currency:'VND':''}}
                        </div>
                      </div>

                      <div class="row my-2">
                        <div class="col-6 text-right">
                          {{'INVOICE.FORM.CREATE.AMOUNTPAID' | translate}}
                        </div>
                        <div class="col-6 text-right" #amountPaidVC>
                          <!-- <kendo-numerictextbox  #amountPaidVC [format]="'n'"
                            tabindex="{{getFormArray().length * 4 + 3}}" [spinners]="false"
                            (valueChange)="amountPaidChange($event)" formControlName="amountPaid"
                            class="amountPaid margin-left-13 border-0 text-right width-100-per input-amount mput-reference-custom amountPaid">
                          </kendo-numerictextbox > -->
                          <span *ngIf = "coppyMode !== true">{{amountPaid | currency:'VND':''}}</span>
                          <span *ngIf = "coppyMode === true">0</span>
                        </div>
                      </div>
                      <div class="amountDue">
                        <div class="row">
                          <p class="col-6 text-right">{{'INVOICE.FORM.CREATE.AMOUNTDUE' | translate}}</p>
                          <div class="col-6 text-right">
                            {{amountDue | currency:'VND':''}}
                          </div>
                        </div>
                      </div>
                      <!-- <div class="row">
                        <div class="col-6 text-right">
                          Amount Due
                        </div>
                        <div class="col-6 text-right">
                          {{amountDue | currency:'VND':''}}
                        </div>
                      </div> -->
                    </div>

                  </div>
                </div>
                <div class="row mt-0">
                  <div class="col-sm-12">
                    <p class="my- invoice__font--medium-2">{{'INVOICE.GRID.HEADER.NOTES' | translate}}</p>
                    <fieldset class="form-group position-relative">
                      <textarea rows="2" id="notes" formControlName="notes"
                        class="k-textbox border-0 full-width invoice__font--small-1 p-0"placeholder="{{'INVOICE.FORM.CREATE.ENTERYOURNOTES.PLACEHOLDER' | translate}}" kendoTextBox
                        [readOnly]="isRead" maxlength="250" style="background: white;"></textarea>
                    </fieldset>
                    <p class="my-1 invoice__font--medium-2">{{'INVOICE.FORM.CREATE.TERMCONDITION' | translate}}</p>
                    <fieldset class="form-group position-relative">
                      <textarea rows="2" id="termCondition" formControlName="termCondition" kendoTextBox  [readOnly]="isRead"
                        class="k-textbox border-0 full-width font-size p-0 invoice__font--small-1"  placeholder="{{'BUY.INVOICE.CREATE.PLACEHOLDER.ENTER.TERM' | translate}}"
                        maxlength="250" style="background: white;"></textarea>
                    </fieldset>
                  </div>
                </div>
              </div> <!-- end col-sm-12 -->
            </div> <!-- end row -->
          </div>
        </form>
      </div>
    </nb-card-body>
  </div>
</nb-card>