<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-5 col-lg-4">
        <!-- <h4 class="card-title">{{ 'User.LIST.HEADER' | translate }}</h4> -->
        <span class="card__title">{{ 'ROLE.LIST.HEADER.LABEL' | translate }}</span>
      </div>
      <div class="col-3 col-lg-4">
        <div ngbDropdown>
          <button class="btn btn-flat mr-1" id="bulkActions" ngbDropdownToggle>{{ 'COMMON.MOREACTION' | translate }}
          </button>
          <div ngbDropdownMenu aria-labelledby="bulkActions">
            <button class="dropdown-item"><span class="icon-import"></span>
              {{ 'COMMON.MOREACTION.IMPORT' | translate }} </button>
            <button class="dropdown-item"><span class="icon-export"></span>
              {{ 'COMMON.MOREACTION.EXPORT' | translate }} </button>
          </div>
        </div>
      </div>
      <div class="col-4 col-lg-4">
        <button (click)="createUser()"
          class="btn btn-raised mr-1 btn-success float-right">{{'COMMON.MOREACTION.ADDNEW' | translate}}</button>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
      <div class="row my-3 margin-top-0">
        <div class="col-md-4 col-6 margintop-13">
          <div class="label-blue">{{ 'ROLE.LIST.HEADER.LABEL' | translate }}<span *ngIf="selected.length > 0">> Selected ({{selected.length}})</span></div>
        </div>
        <div class="col-md-4 col-6 text-right text-md-left">
          <div ngbDropdown>
            <button class="btn btn-flat mr-1 card__button-bulk-action" id="bulkActions"
              ngbDropdownToggle>{{ 'COMMON.ACTION' | translate }}</button>
            <div ngbDropdownMenu aria-labelledby="bulkActions">
              <button (click)="edit()" class="dropdown-item"><span class="icon-edit"></span>
                {{ 'COMMON.ACTION.EDIT' | translate }}</button>
              <button (click)="delete()" class="dropdown-item"><span class="icon-delete"></span>
                {{ 'COMMON.ACTION.DELETE' | translate }}</button>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-12 float-right">
          <div class="navbar-left mt-1">
            <form class="form">
              <div class="position-relative has-icon-left">
                <input type="text" [(ngModel)]="keywords" name="keywords" autocomplete="off" (keyup)="refresh()"
                  class="form-control round" placeholder="{{'COMMON.ACTION.SEARCH' | translate}}">
                <div class="form-control-position">
                  <i class="ft-search" (click)="refresh()"></i>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <ngx-datatable #myTable class="bootstrap hover no-striped flex" [rows]="listRole"
            [sorts]="[{prop: 'id', dir: 'desc'}]" [loadingIndicator]="loadingIndicator" [columnMode]="ColumnMode.force"
            [headerHeight]="60" [footerHeight]="50" [rowHeight]="getRowHeight" [reorderable]="reorderable" [limit]="20"
            [selected]="selected" (activate)="onActivate($event)" [selectionType]="SelectionType.checkbox"
            (select)='onSelect($event)' [selectAllRowsOnPage]="false">

            <ngx-datatable-column [width]="50" [sortable]="false" [canAutoResize]="false" [draggable]="false"
              [resizeable]="false">
              <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected"
                let-selectFn="selectFn">
                <div class="custom-control custom-checkbox m-0">
                  <input type="checkbox" [checked]="allRowsSelected" id="chkCheckAll" class="custom-control-input"
                    (change)="selectFn(!allRowsSelected)" />
                  <label class="custom-control-label col-form-label" for="chkCheckAll"></label>
                </div>

              </ng-template>
              <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected"
                let-onCheckboxChangeFn="onCheckboxChangeFn" let-row="row">
                <div class="custom-control custom-checkbox m-0">
                  <input type="checkbox" class="custom-control-input" id="{{row.id}}" [checked]="isSelected"
                    (change)="onCheckboxChangeFn($event)" />
                  <label class="custom-control-label col-form-label" for="{{row.id}}"></label>
                </div>

              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [cellClass]="'col-id'" [headerClass]="'col-id'"
            name="{{'ROLE.LIST.GRID.HEADER.ROLEID' | translate}}" prop="id">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <span>{{row.id}}</span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column [cellClass]="'col-id'" [headerClass]="'col-id'"
          name="{{'PRODUCT.FORM.CREATE.DESCRIPTION' | translate}}" prop="description">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <span>{{row.description}}</span>
          </ng-template>
        </ngx-datatable-column>
            <ngx-datatable-column [cellClass]="'col-right'" [headerClass]="'col-right'"
              name="{{'ROLE.LIST.GRID.HEADER.ROLENAME' | translate}}" prop="name">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <div class="col-more-info col-right">{{row.name}}</div>
              </ng-template>
            </ngx-datatable-column>
          
            
            <ngx-datatable-footer>
              <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize"
                let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset" let-isVisible="isVisible">
                <div class="page-count pl-2">
                  <span [translate]="'COMMON.GRID.TOTALROW'" [translateParams]="{rowCount: rowCount}"> </span>
                </div>
                <!-- |
                'Page Size':
                <select [ngModel]="page.size" (ngModelChange)="onPageSizeChange($event)" class="page-size-combo">
                  <option *ngFor="let size of sizeList" [value]="size"> {{size}}</option>
                </select> -->
                <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'"
                  [pagerRightArrowIcon]="'datatable-icon-right'" [pagerPreviousIcon]="'datatable-icon-prev'"
                  [pagerNextIcon]="'datatable-icon-skip'" [count]="rowCount" [page]="curPage" [size]="pageSize"
                  [hidden]="!((rowCount / pageSize) > 1)" (change)="myTable.onFooterPage($event)">
                </datatable-pager>
              </ng-template>
            </ngx-datatable-footer>
          </ngx-datatable>
        </div>
      </div>
  </nb-card-body>
</nb-card>

