:host ::ng-deep .datatable-row-group {
    max-width: 100%;
}
:host ::ng-deep .datatable-row-center {
    max-width: 99%;
}
:host ::ng-deep .col-right {
    padding-right: 0px;
}
  
:host ::ng-deep .datatable-header {
    @media screen and (max-width: 767px){
        height: 40px!important;
    }
}