<nb-card>
  <nb-card-header style="padding: 0.5rem 1rem;">
    <nb-select class="float-right" [selected]="'2'" [size]="'tiny'">
      <nb-option value="1" (click)="showByWeek()">Xem theo tuần</nb-option>
      <nb-option value='2' (click)="showByMonth()">Xem theo tháng</nb-option>
    </nb-select>
    <div style="font-size: 0.9rem; line-height: 1.5rem;color: #edf1f7;">
      TIỀN MUA HÀNG PHẢI TRẢ
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="purchase-chart__header">
      <div class="row mx-0">
        <div class="col-4"><button (click)="NewBuyInvoice()" class="btn purchase-chart__button-create">Tạo hoá đơn mua</button></div>
        <div class="col-8">
          <div class="row text-right purchase-chart__information">
            <div class="col-9" *ngIf="data?.ammountOfItemOutstanding && data?.outstanding">{{ data?.ammountOfItemOutstanding }} hoá đơn phải trả:</div>
            <div class="col-3" *ngIf="data?.ammountOfItemOutstanding && data?.outstanding">{{ data?.outstanding }} </div>
            <div class="col-9 text-danger" *ngIf="data?.ammountOfItemOverduce && data?.overduce">{{ data?.ammountOfItemOverduce }} hoá đơn quá hạn:</div>
            <div class="col-3 text-danger" *ngIf="data?.ammountOfItemOverduce && data?.overduce">{{ data?.overduce }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="purchase-chart__chart">
      <chart type="bar" [data]="data?.chart" [options]="options"></chart>
    </div>
  </nb-card-body>
</nb-card>