
.ipfile {
    width: 23px;
    height: 23px;
    margin-left: 93px;
    margin-top: -4px;
}
.mrt-16 {
    margin-top: -16px;
}
.mlt-13 {
    margin-left: 13px;
}
.ml-20 {
    margin-left: -20px;
    @media screen and (max-width: 575px) {
        margin-left: 0;
    }
}
.mrl-1 {
    margin-left: -1px;
}
.font-size {
    font-size: 12px;
}

.pdt-7 {
    padding-top: 7px;
}

.amountDue {
    @media screen and (max-width: 575px) {
        order: 2;
    }
}

.date {
    @media screen and (max-width: 575px) {
        order: 1;
    }
}
.refer {
    @media screen and (max-width: 575px) {
        order: 3;
    }
}
.dateColor {
    border-color: rgba(243, 23, 0, 0.5);
    color: #f31700;
}

.entryclass {
    line-height: 0;
}

.create-journalentries__title{
    font-weight: 300;
    color: #343a40;
    font-size: 2rem;
}

:host ::ng-deep.ui-autocomplete {
    margin-top: -10px;
    white-space: nowrap;
    position: relative;
    width: 100%;
    height: 2.1em;
    top: -2px;
    .ui-autocomplete-panel {
        min-width: 166%;
    }
}
:host ::ng-deep.ui-button.ui-button-icon-only {
    width: 1.5em;
    height: 35.5px;
    position: absolute;
    right: 0;
    height: 100%;
}

:host ::ng-deep .ui-inputtext{
    width: 100%;
    border: none;
    height: 100%;
}

:host ::ng-deep .ui-button{
    background: #868e96;
    border-color: #868e96;
    height: 100%;
    &:active, &:hover{
        background: #868e96!important;
        border-color: #868e96!important;
    }
}
.invoice__datepicker__wrapper{
    width: 105px;
}

.invoice__input__textbox--disable{
    &:disabled{
        background: #FFF;
    }
}
.invoice__input__title{
    font-size: 1.1rem;
    color: #922999;
}
.invoice__text--height-normal{
    line-height: 2.1rem;
    height: 2.1rem;
}