<!--Login Page Starts-->

<section id="login">
  <div data-speed="0.2" data-revert="true" class="login__background--before"></div>
  <div class="login__background">
    <svg data-speed="0.01" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="69.8px" height="72.7px" viewBox="0 0 69.8 72.7" xml:space="preserve"> <style type="text/css"> .stplay { fill: #4BEAD6; } </style> <defs> </defs> <path class="stplay" d="M66.6,31.2L8.6,0.7c-1.8-1-4-0.9-5.8,0.2C1.1,1.9,0,3.8,0,5.9v61c0,2.1,1.1,4,2.8,5c0.9,0.6,2,0.9,3,0.9 c0.9,0,1.9-0.2,2.7-0.7l58-30.5c1.9-1,3.1-3,3.1-5.2C69.8,34.2,68.6,32.2,66.6,31.2z"></path> </svg>
    <svg data-speed="0.005" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="69.8px" height="72.7px" viewBox="0 0 69.8 72.7" xml:space="preserve"> <style type="text/css"> .stplay { fill: #4BEAD6; } </style> <defs> </defs> <path class="stplay" d="M66.6,31.2L8.6,0.7c-1.8-1-4-0.9-5.8,0.2C1.1,1.9,0,3.8,0,5.9v61c0,2.1,1.1,4,2.8,5c0.9,0.6,2,0.9,3,0.9 c0.9,0,1.9-0.2,2.7-0.7l58-30.5c1.9-1,3.1-3,3.1-5.2C69.8,34.2,68.6,32.2,66.6,31.2z"></path> </svg>
    <svg data-speed="0.035" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="69.8px" height="72.7px" viewBox="0 0 69.8 72.7" xml:space="preserve"> <style type="text/css"> .stplay { fill: #4BEAD6; } </style> <defs> </defs> <path class="stplay" d="M66.6,31.2L8.6,0.7c-1.8-1-4-0.9-5.8,0.2C1.1,1.9,0,3.8,0,5.9v61c0,2.1,1.1,4,2.8,5c0.9,0.6,2,0.9,3,0.9 c0.9,0,1.9-0.2,2.7-0.7l58-30.5c1.9-1,3.1-3,3.1-5.2C69.8,34.2,68.6,32.2,66.6,31.2z"></path> </svg>
    <svg data-speed="0.04" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="69.8px" height="72.7px" viewBox="0 0 69.8 72.7" xml:space="preserve"> <style type="text/css"> .stplay { fill: #4BEAD6; } </style> <defs> </defs> <path class="stplay" d="M66.6,31.2L8.6,0.7c-1.8-1-4-0.9-5.8,0.2C1.1,1.9,0,3.8,0,5.9v61c0,2.1,1.1,4,2.8,5c0.9,0.6,2,0.9,3,0.9 c0.9,0,1.9-0.2,2.7-0.7l58-30.5c1.9-1,3.1-3,3.1-5.2C69.8,34.2,68.6,32.2,66.6,31.2z"></path> </svg>
    <svg data-speed="0.02" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="69.8px" height="72.7px" viewBox="0 0 69.8 72.7" xml:space="preserve"> <style type="text/css"> .stplay { fill: #4BEAD6; } </style> <defs> </defs> <path class="stplay" d="M66.6,31.2L8.6,0.7c-1.8-1-4-0.9-5.8,0.2C1.1,1.9,0,3.8,0,5.9v61c0,2.1,1.1,4,2.8,5c0.9,0.6,2,0.9,3,0.9 c0.9,0,1.9-0.2,2.7-0.7l58-30.5c1.9-1,3.1-3,3.1-5.2C69.8,34.2,68.6,32.2,66.6,31.2z"></path> </svg>
    <svg data-speed="0.015" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="69.8px" height="72.7px" viewBox="0 0 69.8 72.7" xml:space="preserve"> <style type="text/css"> .stplay { fill: #4BEAD6; } </style> <defs> </defs> <path class="stplay" d="M66.6,31.2L8.6,0.7c-1.8-1-4-0.9-5.8,0.2C1.1,1.9,0,3.8,0,5.9v61c0,2.1,1.1,4,2.8,5c0.9,0.6,2,0.9,3,0.9 c0.9,0,1.9-0.2,2.7-0.7l58-30.5c1.9-1,3.1-3,3.1-5.2C69.8,34.2,68.6,32.2,66.6,31.2z"></path> </svg>
    <svg data-speed="0.01" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="69.8px" height="72.7px" viewBox="0 0 69.8 72.7" xml:space="preserve"> <style type="text/css"> .stplay { fill: #4BEAD6; } </style> <defs> </defs> <path class="stplay" d="M66.6,31.2L8.6,0.7c-1.8-1-4-0.9-5.8,0.2C1.1,1.9,0,3.8,0,5.9v61c0,2.1,1.1,4,2.8,5c0.9,0.6,2,0.9,3,0.9 c0.9,0,1.9-0.2,2.7-0.7l58-30.5c1.9-1,3.1-3,3.1-5.2C69.8,34.2,68.6,32.2,66.6,31.2z"></path> </svg>
  </div>
  <div data-speed="0.2" data-revert="true"  class="login__background--after"></div>
  <div class="container-fluid">
    <div class="row full-height-vh m-0">
      <div class="col-12 d-flex align-items-center justify-content-center">
        <div class="card login__form-container">
          <div class="card-content">
            <div class="card-body login-img">
              <div class="row m-0">
                <div class="col-lg-6 d-lg-block d-none py-2 px-3 text-center align-middle login__thumbnail">
                  <img src="../../assets/img/gallery/login.png" alt="" class="img-fluid mt-5" width="400"
                    height="230" />
                </div>
                <div class="col-lg-6 col-md-12 bg-white px-0 login__form">
                  <nb-reveal-card class="mb-0 login__form__inner" [revealed]="cardState" [showToggleButton]="false">
                    <nb-card-front>
                      <nb-card>
                        <xb-login (forgotPassword)="openCardBack()" ></xb-login>
                      </nb-card>
                    </nb-card-front>
                    <nb-card-back class="h-100">
                      <nb-card class="login__form__card-back" [ngClass]="transformCardBack()">
                        <xb-forgot-password (closed)="closeCardBack()" (next)="onClickNext()"></xb-forgot-password>
                        <xb-confirm-email (closed)="closeCardBack()" (next)="onClickNext()" (back)="onClickBack()"></xb-confirm-email>
                        <xb-reset-password (closed)="closeCardBack()" (next)="onClickNext()" (back)="onClickBack()"></xb-reset-password>
                      </nb-card>
                    </nb-card-back>
                  </nb-reveal-card>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<nb-layout style="display: none"></nb-layout>
<!--Login Page Ends-->