.sale-chart__information{
    font-size: 0.8rem;
    line-height: 1.1rem;
    @media screen and (max-width: 1024px){
        font-size: 0.8rem;
        line-height: 1rem;
    }
}

.sale-chart__header{
    position: absolute;
    top: 0;
    height: 20%;
    left: 0;
    right: 0;
    padding-top: 10px;
}

.sale-chart__chart{
    position: absolute;
    top: 23%;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    font-size: 1rem;
    @media screen and (max-width: 1200px){
        font-size: 0.8rem;
    }
    @media screen and (max-width: 992px){
        font-size: 1.5rem;
    }
    @media screen and (max-width: 575px){
        font-size: 1.5rem;
    }
}

.sale-chart__button-create{
    background: #d1e2bd;
    font-size: 0.8rem;
    transition: 0.2s ease-in;
    white-space: nowrap;
}

:host ::ng-deep nb-card{
    &:hover{
        .sale-chart__button-create{
            background: #4caf50;
            color: #FFF;
        }

    }
    chart{
        height: 100%;
    }
}
