:host ::ng-deep .ngx-datatable.bootstrap .datatable-header .datatable-header-cell{
    vertical-align: bottom;
    padding: 0.75rem;
    border-bottom: hidden;
}
.Opening{
   text-align: right;
   margin-right: 125px;
}
.creditdebit{
    text-align: right;
   
}

.Closing{
  
    text-align: right;
}
.headername{
    margin-left: 145px;
   }
.Openingfooter{
    margin-right: -40px;
}
.debitcreditfooter{
 margin-right: -145px;  
}
.Closingfooter{
 margin-right: -125px;
}
:host ::ng-deep .datatable-header-cell {
 margin-top: 20px;
}
:host ::ng-deep.ngx-datatable.fixed-row .datatable-scroll .datatable-body-row .datatable-body-cell{
    margin-left: -12px;
}
:host ::ng-deep .form-line{
    border-bottom: hidden;
    margin-bottom: -30px;
}
.card {
    margin-top: -21px;
    width: 80%;
    /* align-content: center; */
    margin-left: 150px;
}
:host ::ng-deep.ngx-datatable.bootstrap .datatable-body .datatable-body-row {
    padding-top: 0px;
    padding-bottom: 0px;
    
}
@media only screen and (max-width: 1800px){
    :host ::ng-deep .ngx-datatable.bootstrap .datatable-header .datatable-header-cell{
        vertical-align: bottom;
        padding: 0.75rem;
        border-bottom: hidden;
    }
    .Opening{
       text-align: right;
       margin-right: 90px;
    }
  .creditdebit{
        text-align: right;
        margin-right: 10px;
    }
  .Closing{
    margin-right: 10px;
        text-align: right;
    }
    .headername{
       margin-left: 100px;
       }
       .Openingfooter{
        margin-right: -40px;
    }
    .debitcreditfooter{
        margin-right: -103px;
    }
    .Closingfooter{
        margin-right: -85px;
    }
    :host ::ng-deep .datatable-header-cell {
     margin-top: 20px;
    }
    .ngx-datatable.fixed-row .datatable-scroll .datatable-body-row .datatable-body-cell{
        margin-left: -12px;
    }
    :host ::ng-deep .form-line{
        border-bottom: hidden;
        margin-bottom: -30px;
    }
    .card {
        margin-top: -21px;
        width: 80%;
        /* align-content: center; */
        margin-left: 150px;
    }
    :host ::ng-deep.ngx-datatable.bootstrap .datatable-body .datatable-body-row {
        padding-top: 0px;
        padding-bottom: 0px;
        
    }
}
@media only screen and (max-width: 1700px){
    :host ::ng-deep .ngx-datatable.bootstrap .datatable-header .datatable-header-cell{
        vertical-align: bottom;
        padding: 0.75rem;
        border-bottom: hidden;
    }
    .Opening{
       text-align: right;
       margin-right: 77px;
    }
  .creditdebit{
        text-align: right;
        margin-right: -3px;
    }
  .Closing{
         margin-right: -1px;
        text-align: right;
    }
    .headername{
       margin-left: 100px;
       }
       .Openingfooter{
        margin-right: -40px;
    }
    .debitcreditfooter{
        margin-right: -103px;
    }
    .Closingfooter{
        margin-right: -85px;
    }
    :host ::ng-deep .datatable-header-cell {
     margin-top: 20px;
    }
    .ngx-datatable.fixed-row .datatable-scroll .datatable-body-row .datatable-body-cell{
        margin-left: -12px;
    }
    :host ::ng-deep .form-line{
        border-bottom: hidden;
        margin-bottom: -30px;
    }
    .card {
        margin-top: -21px;
        width: 80%;
        /* align-content: center; */
        margin-left: 150px;
    }
    :host ::ng-deep.ngx-datatable.bootstrap .datatable-body .datatable-body-row {
        padding-top: 0px;
        padding-bottom: 0px;
        
    }
}
@media only screen and (max-width: 1600px){
    :host ::ng-deep .ngx-datatable.bootstrap .datatable-header .datatable-header-cell{
        vertical-align: bottom;
        padding: 0.75rem;
        border-bottom: hidden;
    }
    .Opening{
       text-align: right;
       margin-right: 45px;
    }
  .creditdebit{
        text-align: right;
        margin-right: -3px;
    }
  .Closing{
         margin-right: -1px;
        text-align: right;
    }
    .headername{
       margin-left: 64px;
       }
       .Openingfooter{
        margin-right: -40px;
    }
    .debitcreditfooter{
        margin-right: -67px;
    }
    .Closingfooter{
        margin-right: -48px;
    }
    :host ::ng-deep .datatable-header-cell {
     margin-top: 20px;
    }
    .ngx-datatable.fixed-row .datatable-scroll .datatable-body-row .datatable-body-cell{
        margin-left: -12px;
    }
    :host ::ng-deep .form-line{
        border-bottom: hidden;
        margin-bottom: -30px;
    }
    .card {
        margin-top: -21px;
        width: 80%;
        /* align-content: center; */
        margin-left: 150px;
    }
    :host ::ng-deep.ngx-datatable.bootstrap .datatable-body .datatable-body-row {
        padding-top: 0px;
        padding-bottom: 0px;
        
    }
}
@media only screen and (max-width: 1500px){
    :host ::ng-deep .ngx-datatable.bootstrap .datatable-header .datatable-header-cell{
        vertical-align: bottom;
        padding: 0.75rem;
        border-bottom: hidden;
    }
    .Opening{
       text-align: right;
       margin-right: 40px;
    }
  .creditdebit{
        text-align: right;
        margin-right: -3px;
    }
  .Closing{
         margin-right: -1px;
        text-align: right;
    }
    .headername{
        margin-left: 62px;
    }
    .debitcreditfooter{
        margin-right: -63px;
    }
    .Closingfooter{
        margin-right: -45px;
    }
    :host ::ng-deep .datatable-header-cell {
     margin-top: 20px;
    }
    .ngx-datatable.fixed-row .datatable-scroll .datatable-body-row .datatable-body-cell{
        margin-left: -12px;
    }
    :host ::ng-deep .form-line{
        border-bottom: hidden;
        margin-bottom: -30px;
    }
    .card {
        margin-top: -21px;
        width: 80%;
        /* align-content: center; */
        margin-left: 150px;
    }
    :host ::ng-deep.ngx-datatable.bootstrap .datatable-body .datatable-body-row {
        padding-top: 0px;
        padding-bottom: 0px;
        
    }
}
@media only screen and (max-width: 1440px){
    :host ::ng-deep .ngx-datatable.bootstrap .datatable-header .datatable-header-cell{
        vertical-align: bottom;
        padding: 0.75rem;
        border-bottom: hidden;
    }
    .Opening{
       text-align: right;
       margin-right: 40px;
    }
  .creditdebit{
        text-align: right;
        margin-right: -3px;
    }
  .Closing{
         margin-right: -1px;
        text-align: right;
    }
    .headername{
        margin-left: 30px;
    }
    .debitcreditfooter{
        margin-right: -43px;
    }
    .Closingfooter{
        margin-right: -25px;
    }
    :host ::ng-deep .datatable-header-cell {
     margin-top: 20px;
    }
    .ngx-datatable.fixed-row .datatable-scroll .datatable-body-row .datatable-body-cell{
        margin-left: -12px;
    }
    :host ::ng-deep .form-line{
        border-bottom: hidden;
        margin-bottom: -30px;
    }
    .card {
        margin-top: -21px;
        width: 80%;
        /* align-content: center; */
        margin-left: 150px;
    }
    :host ::ng-deep.ngx-datatable.bootstrap .datatable-body .datatable-body-row {
        padding-top: 0px;
        padding-bottom: 0px;
        
    }
}
@media only screen and (max-width: 1360px){
    :host ::ng-deep .ngx-datatable.bootstrap .datatable-header .datatable-header-cell{
        vertical-align: bottom;
        padding: 0.75rem;
        border-bottom: hidden;
    }
    .Opening{
       text-align: right;
       margin-right: 40px;
    }
  .creditdebit{
        text-align: right;
        margin-right: -3px;
    }
  .Closing{
         margin-right: -1px;
        text-align: right;
    }
    .headername{
        margin-left: 30px;
    }
    .debitcreditfooter{
        margin-right: -43px;
    }
    .Closingfooter{
        margin-right: -25px;
    }
    :host ::ng-deep .datatable-header-cell {
     margin-top: 20px;
    }
    .ngx-datatable.fixed-row .datatable-scroll .datatable-body-row .datatable-body-cell{
        margin-left: -12px;
    }
    :host ::ng-deep .form-line{
        border-bottom: hidden;
        margin-bottom: -30px;
    }
    .card {
        margin-top: -21px;
        width: 80%;
        /* align-content: center; */
        margin-left: 150px;
    }
    :host ::ng-deep.ngx-datatable.bootstrap .datatable-body .datatable-body-row {
        padding-top: 0px;
        padding-bottom: 0px;
        
    }
}
@media only screen and (max-width: 1280px){
    :host ::ng-deep .ngx-datatable.bootstrap .datatable-header .datatable-header-cell{
        vertical-align: bottom;
        padding: 0.75rem;
        border-bottom: hidden;
    }
    .Opening{
       text-align: right;
       margin-right: -1px;
    }
  .creditdebit{
        text-align: right;
        margin-right: -3px;
    }
  .Closing{
         margin-right: -1px;
        text-align: right;
    }
    .headername{
        margin-left: 16px;
    }
    .debitcreditfooter{
        margin-right: -22px;
    }
    .Closingfooter{
        margin-right: -5px;
    }
    :host ::ng-deep .datatable-header-cell {
     margin-top: 20px;
    }
    .ngx-datatable.fixed-row .datatable-scroll .datatable-body-row .datatable-body-cell{
        margin-left: -12px;
    }
    :host ::ng-deep .form-line{
        border-bottom: hidden;
        margin-bottom: -30px;
    }
    .card {
        margin-top: -21px;
        width: 80%;
        /* align-content: center; */
        margin-left: 150px;
    }
    :host ::ng-deep.ngx-datatable.bootstrap .datatable-body .datatable-body-row {
        padding-top: 0px;
        padding-bottom: 0px;
        
    }
}