<div class="card">
    <div class="card-content">
        <div class="card-body">
            <div class="row form-line" style="height: 70px;">
                <div class="col-md-4">
                    <div>
                        <h4 class="card-title" style="color: #546D74;font-family:Tahoma ;">BẢNG CÂN ĐỐI TÀI KHOẢN</h4>
                        <div style="width: 10px;margin-top: -13px;margin-left: -47px; cursor: pointer;"
                            (click)='SearchGenLed()'>
                            <img src="../../../assets/search.png"
                                style="position: relative;margin-top: -50px;margin-left: 300px;"
                                alt="search General Ledger"></div>
                    </div>
                    <br>
                    <h5 class="btn btn-flat mr-1" style="margin-left: -11px;margin-bottom: -1rem;padding-bottom: 10px;color: #546D74;    margin-top: -65px;
            position: absolute; font-size: 15px;">
                        <div *ngIf="case==null">Tháng này: {{firstDate}} - {{endDate1}}</div>
                        <div *ngIf="case=== 1">Tháng này: {{startDay}} {{keyspace}} {{endDay}}</div>
                        <div *ngIf="case=== 2">Quý này: {{startDay}} {{keyspace}} {{endDay}}</div>
                        <div *ngIf="case=== 3">Năm này: {{startDay}} {{keyspace}} {{endDay}}</div>
                        <div *ngIf="case=== 4">Quý trước: {{startDay}} {{keyspace}} {{endDay}}</div>
                        <div *ngIf="case=== 5">Năm trước: {{startDay}} {{keyspace}} {{endDay}}</div>
                        <div *ngIf="case=== 6">Từ ngày: {{startDay}} {{keyspace}} {{endDay}}</div>
                    </h5>
                </div>
                <div class="col-md-2">

                </div>
                <div class="col-md-4">
                    <div ngbDropdown style="width: 300px;">
                        <button class="btn btn-flat mr-1" id="bulkActions" ngbDropdownToggle>More Actions
                        </button>
                        <div class="d-inline-block mx-2" style="position: relative;">
                            <button (click)="Print()" class="btn btn-raised mr-1 btn-secondary">Print</button>
                        </div>
                        <div ngbDropdownMenu aria-labelledby="bulkActions">
                            <button class="dropdown-item"><span class="icon-import"></span> Import General
                                Ledger</button>
                            <button class="dropdown-item"><span class="icon-export"></span>
                                Export General
                                Ledger</button>
                        </div>
                    </div>

                </div>
                <div class="col-md-4">
                </div>
            </div>
            <div class="row">
                <hr width="98%" style="height: 2px;;background: #6A0888;" />
                <div class="col-md-12 ">
                    <ngx-datatable #myTable class="bootstrap hover no-striped flex" [rows]="accountBalanceViews"
                        [sorts]="[{prop: 'id', dir: 'desc'}]" [loadingIndicator]="loadingIndicator"
                        [columnMode]="ColumnMode.force" [headerHeight]="60" [footerHeight]="100"
                        [rowHeight]="getRowHeight" [reorderable]="reorderable" [limit]="20" [selected]="selected"
                        [selectAllRowsOnPage]="false">

                        <ngx-datatable-column [sortable]="false" name="Client/ Invoice Number " [cellClass]="'col-id'"
                            [headerClass]="'col-id'">
                            <ng-template let-column="column" let-sort="sortFn" let-sortDir="sortDir"
                                ngx-datatable-header-template>
                                <span class="column-header"
                                    style="cursor: pointer;margin-left: -10px;font-weight: bold;color: gray;">Tài
                                    Khoản</span>
                                <span class="sort-btn" [class.sort-asc]="sortDir === 'asc'"
                                    [class.datatable-icon-up]="sortDir === 'asc'" [class.sort-desc]="sortDir === 'desc'"
                                    [class.datatable-icon-down]="sortDir === 'desc'"></span>

                            </ng-template>
                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                <div (click)="getaccNumber(row.accNumber)" style="margin-left: 4px;">
                                    <a>{{row.accNumber}}</a>
                                </div>
                                <div (click)="getaccNumber(row.accNumber)">
                                    {{row.accName}}
                                </div>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column [sortable]="false" name="Client/ Invoice Number " [cellClass]="'col-id'"
                            [headerClass]="'col-id'">
                            <ng-template let-column="column" let-sort="sortFn" let-sortDir="sortDir"
                                ngx-datatable-header-template>
                                <span class="column-header" style="cursor: pointer;font-weight: bold;color: gray;">Số dư
                                    đầu kỳ
                                    Nợ</span>
                                <span class="column-header" style="cursor: pointer;font-weight: bold;color: gray;">
                                    /Có</span>
                                <span class="sort-btn" [class.sort-asc]="sortDir === 'asc'"
                                    [class.datatable-icon-up]="sortDir === 'asc'" [class.sort-desc]="sortDir === 'desc'"
                                    [class.datatable-icon-down]="sortDir === 'desc'"></span>

                            </ng-template>
                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                <div class="Opening">
                                    <div>
                                        <div *ngIf="row.debitOpening !== 0" style="color: darkslategray;">
                                            {{row.debitOpening | currency:'VND':''}}
                                        </div>
                                        <div *ngIf="row.debitOpening === 0">
                                            <a>-</a>
                                        </div>
                                    </div>
                                    <div>
                                        <div *ngIf="row.creditOpening !== 0" class="col-more-info">
                                            {{row.crecreditOpeningdit | currency:'VND':''}}
                                        </div>
                                        <div *ngIf="row.crecreditOpeningdit === 0">
                                            <a>-</a>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column [sortable]="false" name="Client/ Invoice Number " [cellClass]="'col-id'"
                            [headerClass]="'col-id'">
                            <ng-template let-column="column" class="template-wrap1" let-sort="sortFn"
                                let-sortDir="sortDir" ngx-datatable-header-template>
                                <div class="headername">
                                    <span class="column-header"
                                        style="cursor: pointer;font-weight: bold;color: gray;">Phát
                                        sinh
                                        Nợ</span>
                                    <span class="column-header" style="cursor: pointer;font-weight: bold;color: gray;">
                                        /Có</span>
                                    <span class="sort-btn" [class.sort-asc]="sortDir === 'asc'"
                                        [class.datatable-icon-up]="sortDir === 'asc'"
                                        [class.sort-desc]="sortDir === 'desc'"
                                        [class.datatable-icon-down]="sortDir === 'desc'"></span>
                                </div>
                            </ng-template>
                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                <div class=creditdebit>
                                    <div>
                                        <div *ngIf="row.debit !== 0" style="color: darkslategray;">
                                            {{row.debit | currency:'VND':''}}
                                        </div>
                                        <div *ngIf="row.debit === 0">
                                            <a>-</a>
                                        </div>
                                    </div>
                                    <div>
                                        <div *ngIf="row.credit !== 0" class="col-more-info">
                                            {{row.credit | currency:'VND':''}}
                                        </div>
                                        <div *ngIf="row.credit === 0">
                                            <a>-</a>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column [sortable]="false" name="Client/ Invoice Number " [cellClass]="'col-id'"
                            [headerClass]="'col-id'">
                            <ng-template let-column="column" let-sort="sortFn" let-sortDir="sortDir"
                                ngx-datatable-header-template>
                                <div class="headername">
                                    <span class="column-header"
                                        style="cursor: pointer;font-weight: bold;color: gray;">Cuối kỳ
                                        Nợ</span>
                                    <span class="column-header" style="cursor: pointer;font-weight: bold;color: gray;">
                                        /Có</span>
                                    <span class="sort-btn" [class.sort-asc]="sortDir === 'asc'"
                                        [class.datatable-icon-up]="sortDir === 'asc'"
                                        [class.sort-desc]="sortDir === 'desc'"
                                        [class.datatable-icon-down]="sortDir === 'desc'"></span>
                                </div>
                            </ng-template>
                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template
                                style="text-align: right;">
                                <div class="Closing">
                                    <div>
                                        <div *ngIf="row.debitClosing !== 0" style="color: darkslategray;">
                                            {{row.debitClosing | currency:'VND':''}}
                                        </div>
                                        <div *ngIf="row.debitClosing === 0">
                                            <a>-</a>
                                        </div>
                                    </div>
                                    <div>
                                        <div *ngIf="row.creditClosing !== 0" class="col-more-info">
                                            {{row.creditClosing | currency:'VND':''}}
                                        </div>
                                        <div *ngIf="row.creditClosing === 0">
                                            <a>-</a>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-footer>
                            <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize"
                                let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset"
                                let-isVisible="isVisible">
                                <div class="row"
                                    style="display: block;width: 100%;border-top: 3px double #ccc;padding-top: 30px;margin-bottom: 35px;">
                                    <div class="row text-right">
                                        <div style="display: inline-block">
                                            <div>
                                                <h4 class="card-title"
                                                    style="color: #546D74;font-family:Tahoma ;margin-left: 30px;inset-block: inherit;margin-top:20px;">
                                                    Tổng Cộng
                                                </h4>
                                            </div>
                                        </div>
                                        <div style="margin-left: 10px;">
                                            <div>Nợ</div>
                                            <div>Có</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="Openingfooter">
                                                <div>
                                                    <div *ngIf="getdebitOpeningTotal() !== 0"
                                                        style="color: darkslategray;">
                                                        {{getdebitOpeningTotal() | currency:'VND':''}}
                                                    </div>
                                                    <div *ngIf="getdebitOpeningTotal() === 0">
                                                        <a>-</a>
                                                    </div>
                                                </div>
                                                <div>
                                                    <div *ngIf="getcreditOpeningTotal() !== 0" class="col-more-info">
                                                        {{getcreditOpeningTotal() | currency:'VND':''}}
                                                    </div>
                                                    <div *ngIf="getcreditOpeningTotal() === 0">
                                                        <a>-</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="debitcreditfooter">
                                                <div>
                                                    <div *ngIf="getdebitTotal() !== 0" style="color: darkslategray;">
                                                        {{getdebitTotal() | currency:'VND':''}}
                                                    </div>
                                                    <div *ngIf="getdebitTotal() === 0">
                                                        <a>-</a>
                                                    </div>
                                                </div>
                                                <div>
                                                    <div *ngIf="getcreditTotal() !== 0" class="col-more-info">
                                                        {{getcreditTotal() | currency:'VND':''}}
                                                    </div>
                                                    <div *ngIf="getcreditTotal() === 0">
                                                        <a>-</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="Closingfooter">
                                                <div>
                                                    <div *ngIf="getdebitClosingTotal() !== 0"  style="color: darkslategray;">
                                                        {{getdebitClosingTotal() | currency:'VND':''}}
                                                    </div>
                                                    <div *ngIf="getdebitClosingTotal() === 0">
                                                        <a>-</a>
                                                    </div>
                                                </div>
                                                <div>
                                                    <div *ngIf="getcreditClosingTotal() !== 0" class="col-more-info">
                                                        {{getcreditClosingTotal() | currency:'VND':''}}
                                                    </div>
                                                    <div *ngIf="getcreditClosingTotal() === 0">
                                                        <a>-</a>
                                                    </div>
                                                </div>                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 ">
                                            <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'"
                                                [pagerRightArrowIcon]="'datatable-icon-right'"
                                                [pagerPreviousIcon]="'datatable-icon-prev'"
                                                [pagerNextIcon]="'datatable-icon-skip'" [count]="rowCount"
                                                [page]="curPage" [size]="pageSize"
                                                [hidden]="!((rowCount / pageSize) > 1)"
                                                (change)="myTable.onFooterPage($event)">
                                            </datatable-pager>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngx-datatable-footer>
                    </ngx-datatable>
                </div>
            </div>
        </div>
    </div>
</div>