  .ngx-datatable .datatable-footer .datatable-footer-inner {
      display: inline-block !important;
    }
  :host ::ng-deep.ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell {
      border-bottom: hidden;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
  }
  
  :host ::ng-deep .form-line{
  
    margin-bottom: -30px;
  }

  
  
  :host ::ng-deep .datatable-body-row {
    padding-top: 0.35rem !important;
    padding-bottom: 0.35rem !important;
  }
  

  
  :host ::ng-deep .datatable-row-group {
    height: 25px;
  }
  .totalDiscount{
    margin-right: 53px;
        }
        .totalAmount{
          margin-right: 7px;
        }
@media only screen and (max-width: 1800px){
  .totalDiscount{
    margin-right: 30px;
        }
        .totalAmount{
          margin-right: -5px;
        }
}
@media only screen and (max-width: 1700px){
  .totalDiscount{
    margin-right: 40px;
        }
        .totalAmount{
          margin-right: -1px;
        }
}
@media only screen and (max-width: 1600px){
  .totalDiscount{
    margin-right: 35px;
        }
        .totalAmount{
          margin-right: -8px;
        }
}
@media only screen and (max-width: 1500px){
  .totalDiscount{
    margin-right: 16px;
        }
        .totalAmount{
          margin-right: -13px;
        }
}
@media only screen and (max-width: 1440px){
        .totalDiscount{
          margin-right: 13px;
              }
        .totalAmount{
          margin-right: -15px;
        }
}
@media only screen and (max-width: 1360px){
  .totalDiscount{
    margin-right: -20px;
        }
        .totalAmount{
          margin-right: -10px;
        }
}
@media only screen and (max-width: 1280px){
    .totalDiscount{
margin-right: 17px;
    }
    .totalAmount{
      margin-right: -13px;
    }
}