<nb-card>
  <nb-card-header class="pb-1 border-0">
    <div class="row">
      <div class="col-5 col-lg-4">
        <div class="d-flex">
          <span class="card__title pr-3 pt-1" >{{ 'ACCOUNT.DETAIL.HEADER' | translate }}
          </span>
          <div (click)='SearchGenLed()'>
            <img src="../../../assets/search.png" class="button__search"
              alt="search General Ledger"></div>
        </div>
        <br>
        <div class="btn btn-flat mr-1 p-0 mb-0" style="color: #546D74;">
          <div *ngIf="case==null">Tháng này: {{firstDate}} - {{endDate1}}</div>
          <div *ngIf="case=== 1">Tháng này: {{startDay}} {{keyspace}} {{endDay}}</div>
          <div *ngIf="case=== 2">Quý này: {{startDay}} {{keyspace}} {{endDay}}</div>
          <div *ngIf="case=== 3">Năm này: {{startDay}} {{keyspace}} {{endDay}}</div>
          <div *ngIf="case=== 4">Quý trước: {{startDay}} {{keyspace}} {{endDay}}</div>
          <div *ngIf="case=== 5">Năm trước: {{startDay}} {{keyspace}} {{endDay}}</div>
          <div *ngIf="case=== 6">Từ ngày: {{startDay}} {{keyspace}} {{endDay}}</div>
        </div>
      </div>
      <div class="col-3 col-lg-4">
        <!-- <div ngbDropdown>
          <button class="btn btn-flat mr-1" id="bulkActions" ngbDropdownToggle>More Actions
          </button>
          <div ngbDropdownMenu aria-labelledby="bulkActions">
            <button class="dropdown-item"><span class="icon-import"></span> Import General Ledger</button>
            <button class="dropdown-item"><span class="icon-export"></span> Export General
              Ledger</button>
          </div>
        </div> -->
      </div>
      <div class="col-4 col-lg-4">
        <div ngbDropdown class="float-right">
          <div class="d-inline-block mx-2">
            <button (click)="Print()" class="btn btn-raised mr-1 btn-secondary">Print</button>
          </div>
        </div>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div *ngFor="let group of genViews" style="padding-top: 3%;">
      <div>
        <div class="row" style="padding-top: 3%;color: #546D74">         
          <div class="col-4"style="color: #546D74;">
            {{group.accountNumber}}- {{group.accountName}}</div>
        </div>         
        <div class="row" style="color: #546D74;">         
          <div class="col-8" style="color: #546D74;position: absolute; font-size: 1.1rem;">
            {{group.companyName}}</div>
          <div style="text-align: right;color: #546D74;font-weight: bold;" class="col-md-6">Số Dư Đầu Kỳ:  {{122990 | currency:'VND':''}}</div>
        </div>      
      </div>




      <div class="row">
        <hr width="98%" style="height: 2px;;background: #6A0888;" />
        <div class="col-md-12">
          <ngx-datatable #myTable class="bootstrap hover no-striped flex" [rows]="group.accountDetailViewModel"
            [loadingIndicator]="loadingIndicator" [sorts]="[{prop: 'id', dir: 'desc'}]" [columnMode]="ColumnMode.force"
            [headerHeight]="60" [footerHeight]="100" [rowHeight]="getRowHeight" [limit]="20" [selected]="selected"
            [selectionType]="'checkbox'" (sort)="onSort($event)" [selectAllRowsOnPage]="false">

            <ngx-datatable-column name="{{'ACCOUNT.DETAIL.LIST.INVOICENUMBER' | translate}}" prop="firstMonth">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <div>{{row.invoiceNumber}}</div>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column prop="date" name="{{'ACCOUNT.DETAIL.LIST.DATE' | translate}}" [cellClass]="'col-left'"
              [headerClass]="'col-left'">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <div class="col-left" style="color: cadetblue;">
                  <div (click)="redirectToEditInvoice(row.invoiceID)">
                    {{row.date | date: 'dd/MM/yyyy'}}
                  </div>
                </div>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="{{'ACCOUNT.DETAIL.LIST.reference' | translate}}" prop="firstMonth">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <div>{{row.reference}}</div>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column prop="invoiceNumber" name="{{'ACCOUNT.DETAIL.LIST.crspAccNumber' | translate}}"
              [cellClass]="'col-center'" [headerClass]="'col-center'">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <div class="col-center">
                  <div>
                    {{row.crspAccNumber}}
                  </div>
                </div>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column prop="invoiceNumber" name="{{'ACCOUNT.DETAIL.LIST.debit' | translate}}"
              [cellClass]="'col-right'" [headerClass]="'col-right'">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <div class="col-right">
                  <div>
                    <div>
                      <div *ngIf="row.debit !== 0" class="col-more-info">
                        {{row.debit | currency:'VND':''}}
                      </div>
                      <div *ngIf="row.debit === 0">
                        <a>-</a>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column prop="invoiceNumber" name="{{'ACCOUNT.DETAIL.LIST.credit' | translate}}"
              [cellClass]="'col-right'" [headerClass]="'col-right'">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <div class="col-right">
                  <div>
                    <div>
                      <div *ngIf="row.credit !== 0" class="col-more-info">
                        {{row.credit | currency:'VND':''}}
                      </div>
                      <div *ngIf="row.credit === 0">
                        <a>-</a>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column prop="invoiceNumber" name="{{'ACCOUNT.DETAIL.LIST.debitClosing' | translate}}"
              [cellClass]="'col-right'" [headerClass]="'col-right'">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <div class="col-right">
                  <div>
                    <div>
                      <div *ngIf="row.debitClosing !== 0" class="col-more-info">
                        {{row.debitClosing | currency:'VND':''}}
                      </div>
                      <div *ngIf="row.debitClosing === 0">
                        <a>-</a>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="{{'ACCOUNT.DETAIL.LIST.creditClosing' | translate}}" [cellClass]="'col-right'"
              [headerClass]="'col-right'">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <div class="col-right">
                  <div>
                    <div>
                      <div *ngIf="row.creditClosing !== 0" class="col-more-info">
                        {{row.creditClosing | currency:'VND':''}}
                      </div>
                      <div *ngIf="row.creditClosing === 0">
                        <a>-</a>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngx-datatable-column>


            <ngx-datatable-footer>
              <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize"
                let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset" let-isVisible="isVisible">
                <div class="row" style="display: block;width: 101%;border-top: 3px double #ccc;padding-top: 10px;">
                  <div class="row text-right">
                    <div class="col-2" style="text-align: left;">
                      <span class="card__title"
                        style="color: #546D74;font-family:Tahoma ;margin-left: 30px;inset-block: inherit;width: 300px;">
                        {{'ACCOUNT.DETAIL.LIST.Total' | translate}}
                      </span>
                    </div>
                    <div class="col-2"></div>
                    <div class="col-2" style="color: #546D74;font-family:Tahoma;">
                      <div class="totalDebit">
                        <div *ngIf="group.totalAmount  !== 0" class="col-more-info"
                          style="color: #546D74;font-family:Tahoma;">
                          {{group.totalDebit  | currency:'VND':''}}
                        </div>
                      </div>
                    </div>

                    <div class="col-2" style="color: #546D74;font-family:Tahoma;">
                      <div class="totalCredit">
                        <div *ngIf="group.totalAmount  !== 0" class="col-more-info"
                          style="color: #546D74;font-family:Tahoma;">
                          {{group.totalCredit  | currency:'VND':''}}
                        </div>
                      </div>
                    </div>

                    <div class="col-2" style="color: #546D74;font-family:Tahoma">
                      <div class="totalDebitClosing">
                        <div *ngIf="group.totalDiscount  !== 0" class="col-more-info">
                          {{group.totalDebitClosing  | currency:'VND':''}}
                        </div>
                      </div>
                    </div>

                    <div class="col-2" style="color: #546D74;font-family:Tahoma;">
                      <div style="padding-right: 12px;">
                        <div *ngIf="group.totalPayment  !== 0" class="col-more-info">
                          {{group.totalCreditClosing  | currency:'VND':''}}
                        </div>
                      </div>
                    </div>

                    <!-- <div class="col-md-3" style="padding-right:35px">
                      <b>{{getGrantTotal()| currency:'VND':''}}</b>
                    </div> -->
                  </div>
                  <div class="row">
                    <div class="page-count col-md-6 pl-4">
                    </div>
                    <div class="col-md-6 text-right">
                      <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'"
                        [pagerRightArrowIcon]="'datatable-icon-right'" [pagerPreviousIcon]="'datatable-icon-prev'"
                        [pagerNextIcon]="'datatable-icon-skip'" [count]="rowCount" [page]="curPage" [size]="pageSize"
                        [hidden]="!((rowCount / pageSize) > 1)" (change)="myTable.onFooterPage($event)">
                      </datatable-pager>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngx-datatable-footer>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>