<form class="form" name="form" autocomplete="off" #f="ngForm" (ngSubmit)="f.form.valid && save()">
  <div class="modal-header">
    <h4 class="modal-title">{{ 'SUPPLIER.SUBHEADER' | translate }}</h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="form-group col-12 mb-2">
        <label for="supplierName">{{ 'SUPPLIER.FORM.TITLE.NAME' | translate }}</label>
        <input [(ngModel)]="client.supplierName" #supplierName="ngModel" required class="form-control"
          [ngModelOptions]="{updateOn: 'blur'}" type="text" name="supplierName" placeholder="{{ 'SUPPLIER.FORM.PLACEHOLDER.NAME' | translate }}"
          id="supplierName">
        <small class="form-text text-muted danger"
          *ngIf="!supplierName.valid && (supplierName.dirty || supplierName.touched)">{{ 'SUPPLIER.FORM.VALIDATE.NAME' | translate }}</small>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-12 mb-2">
        <label for="address">{{ 'SUPPLIER.FORM.TITLE.ADDRESS' | translate }}</label>
        <input [(ngModel)]="client.address" #address="ngModel" required class="form-control"
          [ngModelOptions]="{updateOn: 'blur'}" type="text" name="address" placeholder="{{ 'SUPPLIER.FORM.PLACEHOLDER.ADDRESS' | translate }}"
          id="address">
        <small class="form-text text-muted danger" *ngIf="!address.valid && (address.dirty || address.touched)">{{ 'SUPPLIER.FORM.VALIDATE.ADDRESS' | translate }}</small>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-12 mb-2">
        <label for="taxCode">{{ 'SUPPLIER.FORM.TITLE.TAXNUMBER' | translate }}</label>
        <input [(ngModel)]="client.taxCode" #taxCode="ngModel" required class="form-control"
          [ngModelOptions]="{updateOn: 'blur'}" type="text" name="taxCode" placeholder="{{ 'SUPPLIER.FORM.PLACEHOLDER.TAXNUMBER' | translate }}"
          id="taxCode">
        <small class="form-text text-muted danger" *ngIf="!taxCode.valid && (taxCode.dirty || taxCode.touched)">{{ 'SUPPLIER.FORM.VALIDATE.TAXNUMBER' | translate }}</small>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-12 mb-2">
        <label for="contactName">{{ 'SUPPLIER.FORM.TITLE.CONTACTNAME' | translate }}</label>
        <input [(ngModel)]="client.contactName" #contactName="ngModel" required class="form-control"
          [ngModelOptions]="{updateOn: 'blur'}" type="text" name="contactName" placeholder="{{ 'SUPPLIER.FORM.PLACEHOLDER.CONTACTNAME' | translate }}"
          id="contactName">
        <small class="form-text text-muted danger"
          *ngIf="!contactName.valid && (contactName.dirty || contactName.touched)">{{ 'SUPPLIER.FORM.VALIDATE.CONTACTNAME' | translate }}</small>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-12 mb-2">
        <label for="email">{{ 'SUPPLIER.FORM.TITLE.EMAIL' | translate }}</label>
        <input [(ngModel)]="client.email" #email="ngModel" required class="form-control"
          [ngModelOptions]="{updateOn: 'blur'}" [email]="true" type="email" name="email" placeholder="{{ 'SUPPLIER.FORM.PLACEHOLDER.EMAIL' | translate }}"
          id="email">
        <small class="form-text text-muted danger" *ngIf="!email.valid && (email.dirty || email.touched)">{{ 'SUPPLIER.FORM.VALIDATE.EMAIL' | translate }}</small>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-12 mb-2">
        <label for="bankAccount">{{ 'SUPPLIER.FORM.TITLE.BANKACCOUNT' | translate }}</label>
        <input   [(ngModel)]="client.bankAccount" #bankAccount="ngModel" class="form-control"
        [ngModelOptions]="{updateOn: 'blur'}"  type="text" name="bankAccount" placeholder="{{ 'SUPPLIER.FORM.PLACEHOLDER.BANKACCOUNT' | translate }}"
        id="bankAccount">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-12 mb-2">
        <label for="note">{{ 'SUPPLIER.FORM.TITLE.NOTE' | translate }}</label>
        <textarea id="note" [(ngModel)]="client.note" rows="2" class="form-control " name="note"
          placeholder="{{ 'SUPPLIER.FORM.PLACEHOLDER.NOTE' | translate }}"></textarea>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" (click)="close(false)" class="btn btn-raised btn-secondary mr-1">
      <i class="ft-x"></i>  {{ 'COMMON.BUTTON.CANCEL' | translate }}
    </button>
    <button type="button" (click)="save()" class="btn btn-raised btn-success" [disabled]="!f.valid || authenticationService.hasPermission('Supplier','create')"><i
        class="ft-save"></i> {{ 'COMMON.BUTTON.SAVE' | translate }}</button>
  </div>
</form>
