<div></div>
<form class="form" name="form" novalidate autocomplete="off" [formGroup]="genLedForm">
    <div class=" modal-header">
        <div class="row"></div>
        <div class="col-12">
            <h5 style="margin-left: -15px;" class="modal-title">Tìm Kiếm</h5>
        </div>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-12">
                <h5 class="modal-title">KHOẢNG THỜI GIAN</h5>
            </div>
            <div class="form-group col-12 mb-2">
                <select (change)="onChange($event)" id="genLedMethods" class="form-control" formControlName="genLedMethods"style="position: relative;margin-bottom: 20px;">
                    <option *ngFor="let method of genLedMethods" [ngValue]="method.GenLedId">
                        {{ method.publicGenLedType }}
                    </option>
                </select>
            </div>
        </div>
        <div class="row" *ngIf = "case6 === 6" style="margin-top: -20px;position: relative;">
            <div class="col-12">
                <h5 class="modal-title">TÙY CHỌN THỜI GIAN</h5>
            </div>
            <div class="form-group col-6 mb-2">
                <div class=" input-group">
                    <input formControlName="fromDate" required class="form-control" name="dp" placeholder="dd/mm/yyyy"
                     ngbDatepicker id="fromDate"  #d3="ngbDatepicker" (focus) = "d3.toggle()">
                    <div class="input-group-append">
                        <div class="input-group-text" (click)="d3.toggle()">
                            <i class="fa fa-calendar" style="cursor: pointer;"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group col-6 mb-2">
                <div class="input-group">
                    <input formControlName="toDate" class="form-control" required  placeholder="dd/mm/yyyy"
                        name="toDate" ngbDatepicker #d2="ngbDatepicker" id="toDate" (focus) = "d2.toggle()">
                    <div class="input-group-append">
                        <div class="input-group-text" (click)="d2.toggle()">
                            <i class="fa fa-calendar" style="cursor: pointer;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="position: relative;margin-top: -19px;">
            <div class="form-group col-6 mb-2">
                <div class="custom-control custom-checkbox m-1">                  
                    <label style="padding-top: 3px; margin-left: -7px;width: 200px;" class="custom-control-label col-form-label" for="account">Tài Khoản</label>
                </div>
            </div>                        
            <div class="form-group col-12 mb-2" style="margin-top: -23px;">
                <select id="acountNumberMethod" class="form-control" formControlName="acountNumberMethod">
                    <option [ngValue]="null">Choose a value method</option>
                    <option *ngFor="let method of acountNumberMethod" >
                        {{ method.accountNumber }}
                    </option>
                </select>
            </div>
        </div>

        <div class="row" style="position: relative;margin-top: -10px;">
            <div class="form-group col-6 mb-2">
                <div  class="custom-control custom-checkbox m-1">                  
                    <label style="padding-top: 3px; margin-left: -7px;width: 200px;" class="custom-control-label col-form-label" for="account">KHÁCH HÀNG</label>
                </div>
            </div>                        
            <div class="form-group col-12 mb-2" style="margin-top: -20px;">
                <p-multiSelect [options]="cars1"  formControlName="acountNumberMethod1" [panelStyle]="{minWidth:'12em'}">
                
                    <ng-template let-value pTemplate="selectedItems">
                        <div *ngFor="let val of value" class="ui-multiselected-item-token ui-corner-all">                            
                            <span>{{val}}</span>
                        </div>
                        <span *ngIf="!value || value.length === 0" class="ui-multiselected-empty-token ui-corner-all">Choose</span>
                    </ng-template>
                    <ng-template let-car pTemplate="item">
                        <div  style="width: 80%;text-align:left;display: inline-block;justify-content: right;margin:0 auto;">{{car.label}}</div>
                    </ng-template>
                </p-multiSelect>                
            </div>
        </div>


        <!-- <div class="row" style="margin-top: -8px;">
            <div class="col-12">
                <h5 class="modal-title">KHÁCH HÀNG</h5>
            </div>
            <div class="form-group col-12 mb-2">
                <select id="currencyMethod" class="form-control" formControlName="currencyMethod">
                    <option [ngValue]="null">Choose a currency method</option>
                    <option *ngFor="let method of currencyMethod" [ngValue]="method.CurrencyId">
                        {{ method.CurrencyType }}
                    </option>
                </select>
            </div>
        </div> -->
    </div>


    <div class="modal-footer">
        <button type="button" (click)="close(false)" class="btn btn-raised btn-secondary mr-1"> Cancel</button>
        <button type="submit" (click)="close(true)" (change)="onChange($event)" [disabled]="genLedForm.invalid" class="btn btn-raised btn-success">Áp dụng</button>
    </div>
</form>