:host ::ng-deep .datatable-row-group {
    max-width: 100%;
  }
:host ::ng-deep .datatable-row-wrapper {
  display: initial !important;
}
:host ::ng-deep .ngx-datatable.bootstrap .datatable-body .datatable-body-row  {
  padding-top: 3px;
  display: flex;
  align-items: center;
}
:host ::ng-deep .datatable-row-center {
  max-width: 99%;
}


:host ::ng-deep {
  .datatable-header-cell,
  .datatable-body-cell {
      &:nth-child(1) {
          flex: 0 0 50px;
      }
      &:nth-child(2) {
          flex: 0 0 15rem;
      }
      &:nth-child(3) {
          flex: 1 1 auto;
      }
      &:nth-child(4) {
        flex: 0 0 9rem;
        overflow: visible;
      }
  }
}
