<form class="form" name="form" autocomplete="off" #f="ngForm" (ngSubmit)="f.form.valid && save()">
  <div class="modal-header">
    <h4 class="modal-title">Khách Hàng</h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="form-group col-12 mb-2">
        <label for="supplierName">Tên</label>
        <input [(ngModel)]="client.supplierName" #supplierName="ngModel" required class="form-control"
          [ngModelOptions]="{updateOn: 'blur'}" type="text" name="supplierName" placeholder="Tên khách hàng"
          id="supplierName">
        <small class="form-text text-muted danger"
          *ngIf="!supplierName.valid && (supplierName.dirty || supplierName.touched)">Please
          enter supplier name</small>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-12 mb-2">
        <label for="address">Địa chỉ</label>
        <input [(ngModel)]="client.address" #address="ngModel" required class="form-control"
          [ngModelOptions]="{updateOn: 'blur'}" type="text" name="address" placeholder="Địa chỉ khách hàng"
          id="address">
        <small class="form-text text-muted danger" *ngIf="!address.valid && (address.dirty || address.touched)">Please
          enter address</small>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-12 mb-2">
        <label for="taxCode">Mã số thuế</label>
        <input [(ngModel)]="client.taxCode" #taxCode="ngModel" required class="form-control"
          [ngModelOptions]="{updateOn: 'blur'}" type="text" name="taxCode" placeholder="Mã số thuế khách hàng"
          id="taxCode">
        <small class="form-text text-muted danger" *ngIf="!taxCode.valid && (taxCode.dirty || taxCode.touched)">Please
          enter tax code</small>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-12 mb-2">
        <label for="contactName">Người liên hệ</label>
        <input [(ngModel)]="client.contactName" #contactName="ngModel" required class="form-control"
          [ngModelOptions]="{updateOn: 'blur'}" type="text" name="contactName" placeholder="Người liên hệ"
          id="contactName">
        <small class="form-text text-muted danger"
          *ngIf="!contactName.valid && (contactName.dirty || contactName.touched)">Please
          enter contact name</small>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-12 mb-2">
        <label for="email">Email liên hệ</label>
        <input [(ngModel)]="client.email" #email="ngModel" required class="form-control"
          [ngModelOptions]="{updateOn: 'blur'}" [email]="true" type="email" name="email" placeholder="Email liên hệ"
          id="email">
        <small class="form-text text-muted danger" *ngIf="!email.valid && (email.dirty || email.touched)">Please
          enter email</small>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-12 mb-2">
        <label for="bankAccount">Tài khoản ngân hàng</label>
        <input   [(ngModel)]="client.bankAccount" #bankAccount="ngModel" class="form-control"
        [ngModelOptions]="{updateOn: 'blur'}"  type="text" name="bankAccount" placeholder="Tài khoản ngân hàng"
        id="bankAccount">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-12 mb-2">
        <label for="note">Ghi chú</label>
        <textarea id="note" [(ngModel)]="client.note" rows="2" class="form-control " name="note"
          placeholder="Ghi chú"></textarea>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" (click)="close(false)" class="btn btn-raised btn-secondary mr-1">
      <i class="ft-x"></i> Cancel
    </button>
    <button type="button" (click)="save()" class="btn btn-raised btn-success" [disabled]="!f.valid"><i
        class="ft-save"></i> Save</button>
  </div>
</form>
