<div class="card">
  <div class="card-content">
    <div class="card-body">
      <div class="row form-line">
        <div class="col-md-6">
          <h4 class="card-title">INVOICES</h4>
        </div>
        <div class="col-md-6"> <a (click)='redirectToCreateNewInvoice()'
            class="btn btn-raised mr-1 btn-success float-right">New Invoice</a></div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="media-body blue text-center mb-4">
            <h3 class="font-large-1 mb-0 " style="text-decoration: underline">
              {{ getOverduce()  | ThousandSuffixesPipe : 1  }}</h3>
            <span class="text-muted font-small-3">overduce</span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="media-body blue text-center mb-4">
            <h3 class="font-large-1 mb-0 " style="text-decoration: underline">
              {{ getOutstanding()  | ThousandSuffixesPipe : 1 }} </h3>
            <span class="text-muted font-small-3">total outstanding</span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="media-body blue text-center mb-4">
            <h3 class="font-large-1 mb-0 " style="text-decoration: underline">
              {{ getInDraft()  | ThousandSuffixesPipe : 1 }}</h3>
            <span class="text-muted font-small-3">in draft</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <p class="label-blue">All Invoices <span *ngIf="selected.length > 0">> Selected ({{selected.length}})</span>
          </p>
        </div>
        <div class="col-md-2">
          <div ngbDropdown>
            <button class="btn btn-flat mr-1 label-blue" id="bulkActions" ngbDropdownToggle>Bulk
              Actions</button>
            <div ngbDropdownMenu aria-labelledby="bulkActions">
              <button class="dropdown-item" [disabled]="true"><i class="fa fa-copy"></i> Duplicate</button>
              <button class="dropdown-item" [disabled]="true"><i class="fa fa-paper-plane"></i> Mark as Send</button>
              <button class="dropdown-item" (click)="addPayment()"><i class="fa fa-dollar"></i> Add a Payment</button>
              <button class="dropdown-item" (click)="deleteAll()"><i class="fa fa-trash"></i> Delete</button>
            </div>
          </div>
        </div>
        <div class="col-md-6 float-right">
          <div class="position-relative has-icon-left input-group">
            <input type="text" [(ngModel)]="keyword" name="keyword" autocomplete="off" class="form-control round pl-4"
              placeholder="Search">
            <div class="form-control-position" style="right: auto;z-index: 1000;">
              <i class="ft-search" (click)="refresh()"></i>
            </div>
            <input *ngIf="searchForm.valid && isSubmitted" type="text" [(ngModel)]="dateFilters" name="dateFilters"
              autocomplete="off" class="form-control round">
            <div class="input-group-append search-form" ngbDropdown #searchPanel="ngbDropdown">
              <button style="border: 1px solid #A6A9AE" class="btn btn btn-outline mr-1 btn-round" id="btnAdvanceSearch"
                ngbDropdownToggle><i class="ft-calendar"></i></button>
              <div ngbDropdownMenu class="dropdown-menu-right" style="background: #E6EAEC;padding-bottom: 0px"
                aria-labelledby="btnAdvanceSearch">
                <div class="modal-header" style="padding: 0.5rem 0.5rem!important;">
                  <h5 class="modal-title">Filters</h5>
                </div>
                <form #searchForm="ngForm" autocomplete="off" (submit)="applySearchFilter(searchForm)" novalidate
                  style="background: #fff;" class="form form-horizontal px-2 pb-2 pt-3 width-300">
                  <div class="form-body">
                    <div class="row">
                      <div class="col-md-6">
                        <div class=" input-group">
                          <input ngModel required class="form-control" placeholder="Start" name="startDate"
                            ngbDatepicker #pkStartDate="ngbDatepicker" id="startDate">
                          <div class="input-group-append">
                            <div class="input-group-text" (click)="pkStartDate.toggle()">
                              <i class="fa fa-calendar" style="cursor: pointer;"></i>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="input-group">
                          <input class="form-control" required ngModel placeholder="End" name="endDate" ngbDatepicker
                            #pkEndDate="ngbDatepicker" id="endDate">
                          <div class="input-group-append">
                            <div class="input-group-text" (click)="pkEndDate.toggle()">
                              <i class="fa fa-calendar" style="cursor: pointer;"></i>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="input-group">
                          <div class="custom-control custom-radio d-inline-block">
                            <input type="radio" id="issueDate" value="IssueDate" name="searchType" required ngModel
                              class="custom-control-input">
                            <label class="custom-control-label custom-label" for="issueDate"> Issued Date</label>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="input-group">
                          <div class="custom-control custom-radio d-inline-block">
                            <input type="radio" id="dueDate" value="DueDate" name="searchType" required ngModel
                              class="custom-control-input">
                            <label class="custom-control-label custom-label" for="dueDate"> Due Date</label>
                          </div>
                        </div>
                      </div>

                    </div>
                    <ngb-alert [dismissible]="false" *ngIf="isSubmitted && searchForm.invalid"
                      class="alert alert-danger" role="alert" type="danger">Please select either value.
                    </ngb-alert>
                  </div>
                  <div class="form-actions right mt-1">
                    <button (click)="clearFilter(searchForm)" class="btn btn-raised mr-1 btn-secondary"> <i
                        class="ft-x"></i>
                      Clear</button>
                    <button type="submit" class="btn btn-raised mr-1 btn-success">
                      <i class="ft-check-square"></i> Apply
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <ngx-datatable #myTable class="bootstrap hover no-striped flex" [rows]="invoiceViews"
            [loadingIndicator]="loadingIndicator" [sorts]="[{prop: 'id', dir: 'desc'}]" [columnMode]="'force'"
            [headerHeight]="60" [footerHeight]="100" [rowHeight]="getRowHeight" [reorderable]="reorderable" [limit]="5"
            [selected]="selected" [selectionType]="'checkbox'" (sort)="onSort($event)" (activate)="onActivate($event)"
            (select)='onSelect($event)' [selectAllRowsOnPage]="false">

            <ngx-datatable-column [width]="50" [sortable]="false" [canAutoResize]="false" [draggable]="false"
              [resizeable]="false">
              <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected"
                let-selectFn="selectFn">
                <div class="custom-control custom-checkbox m-0">
                  <input type="checkbox" [checked]="allRowsSelected" id="chkCheckAll" class="custom-control-input"
                    (change)="selectFn(!allRowsSelected)" />
                  <label class="custom-control-label col-form-label" for="chkCheckAll"></label>
                </div>

              </ng-template>
              <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected"
                let-onCheckboxChangeFn="onCheckboxChangeFn" let-row="row">
                <div class="custom-control custom-checkbox m-0">
                  <input type="checkbox" class="custom-control-input" id="{{row.invoiceId}}" [checked]="isSelected"
                    (change)="onCheckboxChangeFn($event)" />
                  <label class="custom-control-label col-form-label" for="{{row.invoiceId}}"></label>
                </div>

              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [sortable]="false" name="Client/ Invoice Number " [cellClass]="'col-id'"
              [headerClass]="'col-id'">
              <ng-template let-column="column" let-sort="sortFn" let-sortDir="sortDir" ngx-datatable-header-template>
                <span class="column-header" style="cursor: pointer" (click)="sortClient()">Client/</span>
                <span class="column-header" style="cursor: pointer"> Invoice Number</span>
                <span class="sort-btn" [class.sort-asc]="sortDir === 'asc'"
                  [class.datatable-icon-up]="sortDir === 'asc'" [class.sort-desc]="sortDir === 'desc'"
                  [class.datatable-icon-down]="sortDir === 'desc'"></span>

              </ng-template>
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <div>
                  {{row.clientData[0].clientName}}
                </div>
                <div class="col-more-info">
                  {{row.invoiceNumber}}
                </div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="note" name="Notes" [cellClass]="'col-id'" [headerClass]="'col-id'">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <div class="col-more-info">{{row.clientData[0].note}}</div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="issueDate" name="Issued/ Duce Date" [cellClass]="'col-center'"
              [headerClass]="'col-center'">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <div class="col-center">{{row.issueDate | date: 'dd/MM/yyyy'}}</div>
                <div class="col-more-info col-center">
                  {{calculateDuceDate(row.issueDate,row.dueDate)}}
                </div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="amountPaid" name="Amount/ Status" [cellClass]="'col-right'"
              [headerClass]="'col-right'">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <div class="col-right">
                  {{row.amountPaid | currency:'VND':''}}
                </div>
                <div class="col-right">
                  <span style="color: #215961;font-weight: bold">{{row.status}}</span>
                </div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [width]="40" [sortable]="false" [canAutoResize]="false" [draggable]="false"
              [resizeable]="false" name="" [cellClass]="'col-action'" [headerClass]="'col-action'">

              <ng-template let-row="row" ngx-datatable-cell-template let-isSelected="isSelected">
                <div class="icon-actions">
                  <div class="actions">
                    <a class="icon-action" (click)="redirectToEditInvoice(row.invoiceId)">
                      <span class="icon-edit"></span>
                    </a>
                  </div>
                  <div class="actions">
                    <a class="icon-action" (click)="delete(row.invoiceId)">
                      <span class="icon-delete"></span>
                    </a>
                  </div>
                </div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-footer>
              <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize"
                let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset" let-isVisible="isVisible">
                <div class="row" style="display: inline-block;width: 100%;border-top: 1px solid #ccc;padding-top: 3px">
                  <div class="row text-right">
                    <div class="col-md-3"></div>
                    <div class="col-md-3"></div>
                    <div class="col-md-3 text-center">
                      <b>Grant Total</b>
                    </div>
                    <div class="col-md-3" style="padding-right:50px">
                      <b>{{getGrantTotal()| currency:'VND':''}}</b>
                    </div>
                  </div>
                  <div class="row">
                    <div class="page-count col-md-6 pl-4">
                      <span>Total: {{rowCount}} items </span>
                    </div>
                    <div class="col-md-6 text-right">
                      <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'"
                        [pagerRightArrowIcon]="'datatable-icon-right'" [pagerPreviousIcon]="'datatable-icon-prev'"
                        [pagerNextIcon]="'datatable-icon-skip'" [count]="rowCount" [page]="curPage" [size]="pageSize"
                        [hidden]="!((rowCount / pageSize) > 1)" (change)="myTable.onFooterPage($event)">
                      </datatable-pager>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngx-datatable-footer>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>
