<div></div>
<form class="form" name="form" novalidate autocomplete="off" [formGroup]="genLedForm">
    <div class=" modal-header">
        <div class="row"></div>
        <div class="col-12">
            <h5 style="margin-left: -15px;" class="modal-title">{{ 'SEARCH.TITLE' | translate }}</h5>
        </div>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-12">
                <span class="modal-title">{{ 'SEARCH.AmountofTime' | translate }}</span>
            </div>
            <div class="form-group col-12 mb-2">
                <select (change)="onChange($event)" id="genLedMethods" class="form-control" formControlName="genLedMethods"style="position: relative;margin-bottom: 20px;">
                    <option *ngFor="let method of genLedMethods" [ngValue]="method.GenLedId">
                        {{ method.publicGenLedType }}
                    </option>
                </select>
            </div>
        </div>
        <div class="row" *ngIf = "case6 === 6" style="margin-top: -20px;position: relative;">
            <div class="col-12">
                <span class="modal-title">{{ 'SEARCH.SelectofTime' | translate }}</span>
            </div>
            <div class="form-group col-6 mb-2">
                <div class=" input-group">
                    <input formControlName="fromDate" required class="form-control" name="dp" placeholder="dd/mm/yyyy"
                     ngbDatepicker id="fromDate"  #d3="ngbDatepicker" (focus) = "d3.toggle()">
                    <div class="input-group-append">
                        <div class="input-group-text" (click)="d3.toggle()">
                            <i class="fa fa-calendar" style="cursor: pointer;"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group col-6 mb-2">
                <div class="input-group">
                    <input formControlName="toDate" class="form-control" required  placeholder="dd/mm/yyyy"
                        name="toDate" ngbDatepicker #d2="ngbDatepicker" id="toDate" (focus) = "d2.toggle()">
                    <div class="input-group-append">
                        <div class="input-group-text" (click)="d2.toggle()">
                            <i class="fa fa-calendar" style="cursor: pointer;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-2" style="position: relative;margin-top: -19px;">
            <div class="form-group col-6 mb-2">                        
                    <span style="margin-bottom: 10px;width: 200px;" class="modal-title">{{ 'SEARCH.AccountNumber' | translate }}</span>               
            </div>                        
            <div class="form-group col-12 mb-2" style="margin-top: -15px;">
                <select id="acountNumberMethod" style="margin-bottom: -3px;" class="form-control" formControlName="acountNumberMethod">
                    <option [ngValue]="null">Choose a value method</option>
                    <option *ngFor="let method of acountNumberMethod" >
                        {{ method.accountNumber }}
                    </option>
                </select>
            </div>
        </div>

        <div class="row" style="position: relative;margin-top: -10px;">
                <div class="col-12 mb-3">
                    <span class="modal-title">{{ 'SEARCH.Customer' | translate }}</span>
                </div>                      
            <div class="form-group col-12 mb-0" style="margin-top: -24px;">
                <p-multiSelect [options]="cars1"  formControlName="acountNumberMethod1" [panelStyle]="{minWidth:'12em'}">
                
                    <ng-template let-value pTemplate="selectedItems">
                        <div *ngFor="let val of value" class="ui-multiselected-item-token ui-corner-all">                            
                            <span>{{val}}</span>
                        </div>
                        <span *ngIf="!value || value.length === 0" class="ui-multiselected-empty-token ui-corner-all">Choose</span>
                    </ng-template>
                    <ng-template let-car pTemplate="item">
                        <div  style="width: 80%;text-align:left;display: inline-block;justify-content: right;margin:0 auto;">{{car.label}}</div>
                    </ng-template>
                </p-multiSelect>                
            </div>
        </div>


        <!-- <div class="row" style="margin-top: -8px;">
            <div class="col-12">
                <h5 class="modal-title">KHÁCH HÀNG</h5>
            </div>
            <div class="form-group col-12 mb-2">
                <select id="currencyMethod" class="form-control" formControlName="currencyMethod">
                    <option [ngValue]="null">Choose a currency method</option>
                    <option *ngFor="let method of currencyMethod" [ngValue]="method.CurrencyId">
                        {{ method.CurrencyType }}
                    </option>
                </select>
            </div>
        </div> -->
    </div>


    <div class="modal-footer">
        <button type="button" (click)="close(false)" class="btn btn-raised btn-secondary mr-1"> {{ 'COMMON.BUTTON.CANCEL' | translate }}</button>
        <button type="submit" (click)="close(true)" (change)="onChange($event)" [disabled]="genLedForm.invalid" class="btn btn-raised btn-success">{{ 'COMMON.BUTTON.APPLY' | translate }}</button>
    </div>
</form>