.x-1px{
    margin-left: 1px;
}
.x-10px{
    margin-left: 10px;
}
.mr-20px{
    margin-left: 20px;
}
.float-right {
    float: right;
}
.with-20pt {
    width: 20%;
}

.cusor :hover {
    cursor: pointer;
    background-color: red;
}
.font-weight-bold{
    font-weight: bold;
}
