.img-attach {
    margin-left: 10px;
    margin-top: -11px;
}
.file {
    margin-left: -41px;
    li {
        list-style-type: none;
        font-size: 14px;
        color: #656565;

        span {
            padding-left: 70px;
            font-weight: bold;
        }
    }
}
.ipfile {
    width: 106px;
    height: 23px;
    margin-left: 10px;
    margin-top: -4px;
}
.mrt-16 {
    margin-top: -16px;
}
.mlt-13 {
   margin-left: 13px;
}
.ml-20 {
    margin-left: -20px;
 }
.mrl-1 {
    margin-left: -1px;
 }
.font-size {
    font-size: 12px;

}

.filedowload {
    color: blue;
    cursor: pointer;
}
 .pdt-7 {
    padding-top: 7px;
 }
.gg-software-upload {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 16px;
    height: 6px;
    border: 2px solid;
    border-top: 0;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    margin-top: 8px
}

.gg-software-upload::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 8px;
    height: 8px;
    border-left: 2px solid;
    border-top: 2px solid;
    transform: rotate(45deg);
    left: 2px;
    bottom: 4px
}

.gg-software-upload::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-radius: 3px;
    width: 2px;
    height: 10px;
    background: currentColor;
    left: 5px;
    bottom: 3px
}
.amountDue {
    width: 184px;
    margin-top: -36px;
    margin-left: 196px;
}

// @media (min-width: 992px) {
//     .amountDue {
//         margin-top: -36px;
//         margin-left: 196px;
//     }
// }
  
// @media (max-width: 991px) {
//     .amountDue {
//         margin-top: -36px;
//         margin-left: 196px;
//     }
// }

  
// @media (max-width: 543px) {
//     .amountDue {
//         margin-top: -36px;
//         margin-left: 196px;
//     }
//  }
  
  
  
// @media only screen and  (min-width: 991px) {
//     .amountDue {
//         margin-top: -7px;
//     margin-left: 0px;
//     }
      
// }
@media screen and (max-width: 1579px) {
    .amountDue {
        margin-top: -7px;
        margin-left: 0px;
     }
  }

.amountPaid {
    margin-left: 18px
}

@media screen and (max-width: 1500px) {
    .amountPaid {
        
        margin-left: 1px;
     }
  }
  
// @media (max-width: 991px) {
//     .amountDue {
//         margin-top: -36px;
//         margin-left: 196px;
//     }

// }

// @media (max-width: 543px) {
//     .amountDue {
//         margin-top: -36px;
//         margin-left: 196px;
//     }
// }


// @media screen and (max-width: 1224px) {

// }