.img-attach {
    margin-left: 10px;
    margin-top: -11px;
}
.file {
    margin-left: -41px;
    li {
        list-style-type: none;
        font-size: 14px;
        color: #656565;

        span {
            padding-left: 70px;
            font-weight: bold;
        }
    }
}
.ipfile {
    width: 106px;
    height: 23px;
    margin-left: 10px;
    margin-top: -4px;
}