<form class="form" name="form" autocomplete="off" #f="ngForm" (ngSubmit)="save(importForm)" [formGroup]="importForm">
  <div class="modal-header">
    <h5 class="modal-title">Import Sản Phẩm Cấp Từ File Excel</h5>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="form-group col-6 mb-2">
        <div class="form-group" style="margin-left: -5px;">Thông tin sản phẩm</div>
      </div>
      <div class="form-group col-6 mb-2">
        <div class="form-group">
          <div class="form-group" style="margin-left: -15px;">Chọn cột tương ứng</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-6 mb-2">
        <div class="form-group" style="margin-left: -5px;" for="productName">Tên:</div>
      </div>
      <div class="form-group col-6 mb-2">
        <div class="form-group" style="margin-left: -15px;">
          <select style="margin-top: -10px;" id="productName" formControlName="productName" class="form-control">
            <option [ngValue]="null">Choose a value</option>
            <option *ngFor="let method of SelectedFieldName ; index as i" [ngValue]="i">
              {{ method.value }}: {{i+1}}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-6 mb-2">
        <div class="form-group" style="margin-left: -5px;" for="description">Miêu tả:</div>
      </div>
      <div class="form-group col-6 mb-2">
        <div class="form-group" style="margin-left: -15px;">
          <select style="margin-top: -10px;" id="description" formControlName="description" class="form-control">
            <option [ngValue]="null">Choose a value</option>
            <option *ngFor="let method of SelectedFieldName ; index as i" [ngValue]="i">
              {{ method.value }}: {{i+1}}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-6 mb-2">
        <div class="form-group" style="margin-left: -5px;" for="unitPrice">Đơn giá: </div>
      </div>
      <div class="form-group col-6 mb-2">
        <div class="form-group" style="margin-left: -15px;">
          <select id="unitPrice" style="margin-top: -10px;" formControlName="unitPrice" class="form-control">
            <option [ngValue]="null">Choose a value</option>
            <option *ngFor="let method of SelectedFieldName ; index as i" [ngValue]="i">
              {{ method.value }}: {{i+1}}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-6 mb-2">
        <div class="form-group" style="margin-left: -8px;" for="categoryID">Mã loại:</div>
      </div>
      <div class="form-group col-6 mb-2">
        <div class="form-group" style="margin-left: -15px;">
          <select id="categoryID" style="margin-top: -10px;" formControlName="categoryID" class="form-control">
            <option [ngValue]="null">Choose a value</option>
            <option *ngFor="let method of SelectedFieldName ; index as i" [ngValue]="i">
              {{ method.value }}: {{i+1}}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-6 mb-2">
        <div class="form-group" style="margin-left: -5px;" for="Unit">Đơn vị: </div>
      </div>
      <div class="form-group col-6 mb-2">
        <div class="form-group" style="margin-left: -15px;">
          <select id="Unit" style="margin-top: -10px;" formControlName="Unit" class="form-control">
            <option [ngValue]="null">Choose a value</option>
            <option *ngFor="let method of SelectedFieldName ; index as i" [ngValue]="i">
              {{ method.value }}: {{i+1}}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-12 mb-2">
        <div style="margin-left: -5px;margin-top: -10px;font-size: 13px;" for="clientName">* Chọn file có định dạng .csv
          (Có thể Export file .csv từ danh sách sản phẩm)</div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" (click)="close(false)" class="btn btn-raised btn-secondary mr-1">
      <i class="ft-x"></i> Cancel
    </button>
    <button type="submit" class="btn btn-raised btn-success" [disabled]="!f.valid"><i class="ft-save"></i>
      Import</button>
  </div>
</form>