<form class="form" name="form" autocomplete="off" #f="ngForm" (ngSubmit)="save()">
  <div class="modal-header">
    <h4 class="modal-title">{{title}}</h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="form-group col-12 mb-2">
        <label for="productName">{{'PRODUCT.FORM.CREATE.NAME' | translate }}</label>
        <input [(ngModel)]="product.productName" #productName="ngModel" required class="form-control"
          [ngModelOptions]="{updateOn: 'blur'}" type="text" name="productName"
          placeholder="{{'PRODUCT.FORM.CREATE.NAME.PLACEHOLDER' | translate}}" id="productName">
        <small class="form-text text-muted danger"
          *ngIf="!productName.valid && (productName.dirty)">{{'PRODUCT.FORM.CREATE.NAME.VALIDATION' | translate }}</small>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-12 mb-2">
        <label for="description">{{'PRODUCT.FORM.CREATE.DESCRIPTION' | translate }}</label>
        <textarea id="description" [(ngModel)]="product.description" rows="2" class="form-control " name="description"
          placeholder="{{'PRODUCT.FORM.CREATE.DESCRIPTION.PLACEHOLDER' | translate}}"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-12 mb-2">
        <label for="categoryId">{{'PRODUCT.FORM.CREATE.CATEGORY' | translate }}</label>
        <select id="categoryId" name="categoryId" class="form-control" [(ngModel)]="statusCategory">
          <option *ngFor="let cat of categories" [ngValue]="cat.categoryID">
            {{ cat.categoryName }}
          </option>
        </select>
      </div>
    </div>
    <div class="row  mb-2">
      <div class="col-7">
        <label for="unitPrice">{{'PRODUCT.FORM.CREATE.UNITPRICE' | translate }}</label>
        <input [(ngModel)]="product.unitPrice" #unitPrice="ngModel" required class="form-control"
          [ngModelOptions]="{updateOn: 'blur'}" name="unitPrice"
          [cleave]=" {numeral: true,numeralThousandsGroupStyle: 'thousand'}" digitOnly class="form-control" type="text"
          maxlength="16" placeholder="{{'PRODUCT.FORM.CREATE.UNITPRICE.PLACEHOLDER' | translate }}" id="unitPrice">
        <small class="form-text text-muted danger"
          *ngIf="!unitPrice.valid && (unitPrice.dirty || unitPrice.touched)">{{'PRODUCT.FORM.CREATE.UNITPRICE.VALIDATION' | translate }}</small>
      </div>
      <div class="col-5">
        <label for="unit">{{'PRODUCT.FORM.CREATE.UNIT' | translate }}</label>
        <input [(ngModel)]="product.unit" #unit="ngModel"  class="form-control"
          [ngModelOptions]="{updateOn: 'blur'}" name="unit"
            class="form-control" type="text"
          maxlength="16" placeholder="{{'PRODUCT.FORM.CREATE.UNIT.PLACEHOLDER' | translate }}" id="unit">
        <!-- <small class="form-text text-muted danger"
          *ngIf="!unit.valid && (unit.dirty || unit.touched)">{{'PRODUCT.FORM.CREATE.UNIT.VALIDATION' | translate }}</small> -->
      </div>
    
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" (click)="close(false)" class="btn btn-raised btn-secondary mr-1">
      <i class="ft-x"></i> {{'COMMON.BUTTON.CANCEL' | translate }}
    </button>
    <button [disabled] = "authenticationService.hasPermission('Products','create')" type="button" (click)="save()" class="btn btn-raised btn-success">
      <i class="ft-save"></i> {{'COMMON.BUTTON.SAVE' | translate }}
    </button>
  </div>
</form>
