<nb-card>
  <nb-card-header style="padding: 0.5rem 1rem;">
    <nb-select class="float-right" [(selected)]="selectedItem" [size]="'tiny'">
      <nb-option value="1" (click)="showByMonth()">{{ 'DASHBOARD.COMMON.VIEW.MONTH' | translate }}</nb-option>
      <nb-option value="2" (click)="showByQuater()">{{ 'DASHBOARD.COMMON.VIEW.QUARTER' | translate }}</nb-option>
    </nb-select>
    <div style="font-size: 0.9rem; line-height: 1.5rem;color: #edf1f7;">
      {{ 'DASHBOARD.REVENUE.TITLE.HEADER' | translate }}
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="sales-figures__unit" *ngIf="data?.chart">{{ 'DASHBOARD.COMMON.CHART.UNIT' | translate }}</div>
    <div class="sales-figures__chart-wrapper">
      <div class="sales-figures__chart">
        <chart class="w-100" type="line" *ngIf="data?.chart" [data]="data?.chart" [options]="options"></chart>
      </div>
    </div>
  </nb-card-body>
</nb-card>