<form class="form" name="form" novalidate autocomplete="off" (ngSubmit)="applyTax()" [formGroup]="taxForm">
  <div class=" modal-header">
    <div class="row">
      <div class="col-12">
        <h5 class="modal-title">{{'TAX.CREATE.TITLE' | translate}}</h5>
      </div>
    </div>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-4 text-left">Race %</div>
      <div class="col-6 text-left">{{'TAX.CREATE.TAX.NAME' | translate}}</div>
    </div>
    <div class="row mb-1" formArrayName="taxs" *ngFor="let tax of taxForm.get('taxs')['controls']; index as i">
      <ng-container [formGroupName]="i">
        <div class="col-2">
          <div class="custom-control custom-checkbox m-1">
            <input formControlName="isChecked" type="checkbox" class="custom-control-input" id="tax-{{i}}" />
            <label class="custom-control-label col-form-label" for="tax-{{i}}"></label>
          </div>
        </div>
        <div class="col-4">
          <input formControlName="taxRate" class="form-control" type="text" placeholder="Race" id="taxRace" digitOnly
            maxlength=2>
        </div>
        <div class="col-6">
          <input formControlName="taxName" class="form-control" type="text" placeholder="{{'TAX.CREATE.TAX.NAME' | translate}}" id="taxName"
            maxlength=200>
        </div>
      </ng-container>
    </div>
    <div class="row">
      <div class="add-line-box d-flex align-items-center mx-3 my-2">
        <div (click)="addTax()" class=" text-center w-100" style="cursor: pointer">+ {{'TAX.CREATE.TITLE' | translate}} </div>
      </div>
    </div>
    <div class="row pt-2" style="border-top: 1px solid #dee2e6;">
      <div class="form-group col-12 mb-0">
        <div class="custom-control custom-checkbox m-1">
          <input formControlName="allLine" type="checkbox" class="custom-control-input" id="applyAll" />
          <label class="custom-control-label col-form-label" for="applyAll"></label>{{'TAX.CREATE.APPLY.ALL' | translate}}
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-raised btn-delete" (click)="deleteTax()">{{'COMMON.ACTION.DELETE' | translate}}</button>
    <button type="button" (click)="close(false)" class="btn btn-raised btn-secondary mr-1">
      {{'COMMON.BUTTON.CANCEL' | translate}}
    </button>
    <button [disabled] = "authenticationService.hasPermission('Invoice','create')" type="submit" class="btn btn-raised btn-success">{{'COMMON.BUTTON.APPLY' | translate}}</button>
  </div>
</form>
