<form class="form" name="form" novalidate autocomplete="off" (ngSubmit)="saveAccount(accountChartForm)"
[formGroup]="accountChartForm">
  <div class="modal-header">
    <h4 class="modal-title">{{'ACCOUNT.CHART.CREATE.TITLE' | translate}}</h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="form-group col-12 mb-2">
        <label for="accountName">{{'ACCOUNT.CHART.CREATE.ACCOUNTNAME' | translate }}</label>
        <input  required class="form-control" formControlName="accountName"
          type="text" name="accountName"
          placeholder="{{'PRODUCT.FORM.CREATE.NAME.PLACEHOLDER' | translate}}" id="accountName">
      </div>
    </div>
 
    <div class="row">
      <div class="form-group col-12 mb-2">
        <label for="categoryId">{{'ACCOUNT.CHART.CREATE.ACCOUNTPARENT' | translate }}</label>
        <select id="accountNumber" name="accountNumber" class="form-control" formControlName="accountMethods" (change)="onChange(cat)">
          <option [ngValue]="null">Choose a account</option>
          <option *ngFor="let cat of data" [ngValue]="cat.accountNumber">
            {{ cat.accountName }}
          </option>
        </select>
      </div>
    </div>
    <div class="row  mb-2">
      <div class="col-7">
        <label for="unitPrice">{{'ACCOUNT.CHART.CREATE.ACCOUNTNUMBER' | translate }}</label>
        <input   required class="form-control" formControlName="accountNumber"
          class="form-control" type="text"
          maxlength="16" placeholder="{{'PRODUCT.FORM.CREATE.UNITPRICE.PLACEHOLDER' | translate }}" id="unitPrice">
        
      </div>
      <div class="col-5">
        <label for="unitPrice"></label>

        <input   class="form-control" formControlName="plusString" name="unit"
            class="form-control" type="text"
          maxlength="16" placeholder="{{'PRODUCT.FORM.CREATE.UNIT.PLACEHOLDER' | translate }}" id="unit">

      </div>
    
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" (click)="close(false)" class="btn btn-raised btn-secondary mr-1">
      <i class="ft-x"></i> {{'COMMON.BUTTON.CANCEL' | translate }}
    </button>
    <button type="button" (click)="save()" class="btn btn-raised btn-success">
      <i class="ft-save"></i> {{'COMMON.BUTTON.SAVE' | translate }}
    </button>
  </div>
</form>
