// Actual modal
:host ::ng-deep.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 500px; // Ensure `.modal-content` extends the full width of the parent `.modal-dialog`
  // counteract the pointer-events: none; in the .modal-dialog
  pointer-events: auto;

  background-clip: padding-box;

  // Remove focus outline from opened modal
  outline: 0;
}
.arrayparam {
  // border-top: 3px double #92d050;
  margin: 0;
  padding-top: 10px;
  >.arrayparam-inner{
    padding: 15px;
    padding-bottom: 20px;
    border: 1px solid #999;
    border-radius: 18px;
    margin: 0;
    margin-top: 10px;
    background: #E6EAEC;
  }
  &:nth-child(2) {
    /* display: none; */
    padding-top: 20px;
    position: relative;
    &:after{
      content: "";
      position: absolute;
      top: 0;
      left: -15px;
      right: -15px;
      border-top: 1px solid #92d050;
    }
    >.arrayparam-inner{
      margin: 0;
    }

  }
  &:nth-last-child(2) {
    padding-bottom: 20px;
  }
}