// Actual modal
:host ::ng-deep.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 500px; // Ensure `.modal-content` extends the full width of the parent `.modal-dialog`
  // counteract the pointer-events: none; in the .modal-dialog
  pointer-events: auto;

  background-clip: padding-box;

  // Remove focus outline from opened modal
  outline: 0;
}