<form class="form" name="form" autocomplete="off" #f="ngForm" (ngSubmit)="save(importForm)" [formGroup]="importForm">
  <div class="modal-header">
    <h5 class="modal-title">Import Nhà Cung Cấp Từ File Excel</h5>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="form-group col-7 mb-2">
        <div class="form-group" style="margin-left: -5px;">Thông tin nhà cup cấp</div>
      </div>
      <div class="form-group col-5 mb-2">
        <div class="form-group">
          <div class="form-group" style="margin-left: -44px;">Chọn cột tương ứng</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-6 mb-2">
        <div class="form-group" style="margin-left: -5px;" for="supplierName">Tên:</div>
      </div>
      <div class="form-group col-6 mb-2">
        <div class="form-group" style="margin-left: -15px;">
          <select style="margin-top: -10px;" id="supplierName" formControlName="supplierName" class="form-control">
            <option [ngValue]="null">Choose a value</option>
            <option *ngFor="let method of SelectedFieldName ; index as i" [ngValue]="i">
              {{ method.value }}: {{i+1}}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-6 mb-2">
        <div class="form-group" style="margin-left: -5px;" for="address">Địa chỉ:</div>
      </div>
      <div class="form-group col-6 mb-2">
        <div class="form-group" style="margin-left: -15px;">
          <select style="margin-top: -10px;" id="address" formControlName="address" class="form-control">
            <option [ngValue]="null">Choose a value</option>
            <option *ngFor="let method of SelectedFieldName ; index as i" [ngValue]="i">
              {{ method.value }}: {{i+1}}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-6 mb-2">
        <div class="form-group" style="margin-left: -5px;" for="taxCode">Mã số thuế: </div>
      </div>
      <div class="form-group col-6 mb-2">
        <div class="form-group" style="margin-left: -15px;">
          <select id="taxCode" style="margin-top: -10px;" formControlName="taxCode" class="form-control">
            <option [ngValue]="null">Choose a value</option>
            <option *ngFor="let method of SelectedFieldName ; index as i" [ngValue]="i">
              {{ method.value }}: {{i+1}}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-6 mb-2">
        <div class="form-group" style="margin-left: -8px;" for="contactName">Người liên hệ:</div>
      </div>
      <div class="form-group col-6 mb-2">
        <div class="form-group" style="margin-left: -15px;">
          <select id="contactName" style="margin-top: -10px;" formControlName="contactName" class="form-control">
            <option [ngValue]="null">Choose a value</option>
            <option *ngFor="let method of SelectedFieldName ; index as i" [ngValue]="i">
              {{ method.value }}: {{i+1}}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-6 mb-2">
        <div class="form-group" style="margin-left: -5px;" for="email">Email liên hệ: </div>
      </div>
      <div class="form-group col-6 mb-2">
        <div class="form-group" style="margin-left: -15px;">
          <select id="email" style="margin-top: -10px;" formControlName="email" class="form-control">
            <option [ngValue]="null">Choose a value</option>
            <option *ngFor="let method of SelectedFieldName ; index as i" [ngValue]="i">
              {{ method.value }}: {{i+1}}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-6 mb-2">
        <div class="form-group" style="margin-left: -5px;" for="note">Ghi chú: </div>
      </div>
      <div class="form-group col-6 mb-2">
        <div class="form-group" style="margin-left: -15px;">
          <select id="note" style="margin-top: -10px;" formControlName="note" class="form-control">
            <option [ngValue]="null">Choose a value</option>
            <option *ngFor="let method of SelectedFieldName ; index as i" [ngValue]="i">
              {{ method.value }}: {{i+1}}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-6 mb-2">
        <div class="form-group" style="margin-left: -5px;" for="bankAccount">Tài khoản ngân hàng:</div>
      </div>
      <div class="form-group col-6 mb-2">
        <div class="form-group" style="margin-left: -15px;">
          <select id="bankAccount" style="margin-top: -10px;" formControlName="bankAccount" class="form-control">
            <option [ngValue]="null">Choose a value</option>
            <option *ngFor="let method of SelectedFieldName ; index as i" [ngValue]="i">
              {{ method.value }}: {{i+1}}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-12 mb-2">
        <div style="margin-left: -5px;margin-top: -10px;font-size: 13px;" for="clientName">* Chọn file có định dạng .csv
          (Có thể Export file .csv từ danh sách nhà cup cấp)</div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" (click)="close(false)" class="btn btn-raised btn-secondary mr-1">
      <i class="ft-x"></i> Cancel
    </button>
    <button type="submit" class="btn btn-raised btn-success" [disabled]="!f.valid"><i class="ft-save"></i>
      Import</button>
  </div>
</form>